智能硬件commit自动+0/workflow.json
{
  "createdAt": "2025-05-31T01:15:30.304Z",
  "updatedAt": "2025-09-11T03:39:02.000Z",
  "id": "Q6ZU2o2yId8dIXD5",
  "name": "智能硬件commit自动+0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ab461997-e976-4bbe-8421-43af33d22998",
        "options": {}
      },
      "id": "1cf8c682-4af6-4e24-9930-532185bcf042",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1480,
        20
      ],
      "webhookId": "ab461997-e976-4bbe-8421-43af33d22998",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Replace your gitlab URL and token ⬇️",
        "height": 100
      },
      "id": "b484313e-99ed-44be-a0f6-e10ce667b09a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://git.sansi.net:6101/api/v4/projects/{{ $json.body.project.id }}/repository/commits/{{ $('Webhook').item.json.body.commits[0].id }}/diff ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "glpat-SLKEZBWoWC3jqHLD5y2k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        20
      ],
      "id": "db12651e-deb5-46ac-9597-7931b90c4d1a",
      "name": "Get commit diff",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// --- 配置参数 ---\nconst MAX_FILES_FOR_LARGE_COMMIT = 20; // 超过这个数量的文件，视为大提交\nconst MAX_FILES_TO_PROCESS_IF_LARGE = 10; // 如果是大提交，实际处理的文件上限 (从行数过滤后的结果中选取)\nconst MAX_DIFF_LINES_PER_FILE = 1000; // 单个文件 diff 的最大行数，超过则跳过\n\n// --- 获取所有输入 item ---\nconst allN8nInputItems = $input.all();\nconst originalFileCount = allN8nInputItems.length;\n\n// --- 步骤 1: 过滤掉 diff 行数过多的文件 ---\n// itemsWithinLineLimit 将包含符合行数限制的 n8n item 对象\nconst itemsWithinLineLimit = allN8nInputItems.filter(item => {\n  if (item.json && typeof item.json.diff === 'string') {\n    const lineCount = item.json.diff.split('\\n').length;\n    if (lineCount > MAX_DIFF_LINES_PER_FILE) {\n      console.log(`文件 \"${item.json.new_path || '未知路径'}\" diff 行数 (${lineCount}) 过多，已跳过。`);\n      return false;\n    }\n    return true;\n  }\n  console.log(`文件 \"${(item.json && item.json.new_path) || '未知路径'}\" 的 diff 格式不正确或不存在，已跳过。`);\n  return false;\n});\n\nconst filesAfterLineFilterCount = itemsWithinLineLimit.length;\n\n// --- 步骤 2: 根据原始文件数量判断是否为大提交，并决定最终处理哪些文件 ---\nlet isLargeCommit = originalFileCount > MAX_FILES_FOR_LARGE_COMMIT;\nlet wholediffArrayOfN8nItems; // 这个变量将持有 n8n item 对象的数组\n\nif (isLargeCommit) {\n  // 如果原始文件数定义为大提交，则从“行数过滤后的文件”中取前 MAX_FILES_TO_PROCESS_IF_LARGE 个\n  wholediffArrayOfN8nItems = itemsWithinLineLimit.slice(0, MAX_FILES_TO_PROCESS_IF_LARGE);\n  console.log(`原始提交包含 ${originalFileCount} 个文件 (大提交)。行数过滤后剩余 ${filesAfterLineFilterCount} 个文件。将处理前 ${wholediffArrayOfN8nItems.length} 个文件。`);\n  return {\n    largecommit: true,\n    wholediff: wholediffArrayOfN8nItems // 直接返回 n8n item 对象的数组\n  };\n} else {\n  // 如果不是大提交，则处理所有“行数过滤后的文件”\n  wholediffArrayOfN8nItems = itemsWithinLineLimit;\n  console.log(`原始提交包含 ${originalFileCount} 个文件。行数过滤后剩余 ${filesAfterLineFilterCount} 个文件。将处理所有 ${wholediffArrayOfN8nItems.length} 个文件。`);\n  return {\n    largecommit: false,\n    wholediff: wholediffArrayOfN8nItems // 直接返回 n8n item 对象的数组\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        20
      ],
      "id": "e7d77a3f-bc39-4171-9e4c-35a9ba490abb",
      "name": "filter-large-commit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://git.sansi.net:6101/api/v4/projects/{{ $('Webhook').first().json.body.project.id }}/repository/commits/{{ $('Webhook').first().json.body.commits[0].id }}/comments\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "glpat-SLKEZBWoWC3jqHLD5y2k"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "note",
              "value": "=+0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        20
      ],
      "id": "ed317c60-f993-4637-8511-08fe9d705235",
      "name": "comment on commit",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "## Replace your gitlab URL and token ⬇️",
        "height": 100
      },
      "id": "985ea523-3069-4aa3-8b08-16be4a753c6e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b1861c2-6cb4-4ed8-8b21-2339b56c8606",
              "leftValue": "={{ $json.body.project.path_with_namespace }}",
              "rightValue": "smarthomegroup_productteam",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1260,
        20
      ],
      "id": "69686c92-701c-47ab-bd15-6bfb01fbeae5",
      "name": "filter namespace"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "filter namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get commit diff": {
      "main": [
        [
          {
            "node": "filter-large-commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter-large-commit": {
      "main": [
        [
          {
            "node": "comment on commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter namespace": {
      "main": [
        [
          {
            "node": "Get commit diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.sansi.io",
            "user-agent": "GitLab/17.11.1-ee",
            "content-length": "2938",
            "accept": "*/*",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "idempotency-key": "b2a830ca-c9ce-4ba9-8ed1-3997f0cb0d72",
            "x-forwarded-for": "140.207.6.158",
            "x-forwarded-host": "n8n.sansi.io",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6d38a97e33fc",
            "x-gitlab-event": "Push Hook",
            "x-gitlab-event-uuid": "b09f7d3a-15d4-4245-98c0-5b8b7925818b",
            "x-gitlab-instance": "https://git.sansi.net:6101",
            "x-gitlab-webhook-uuid": "67728487-deb5-4fbd-8a70-4e153f8820a4",
            "x-real-ip": "140.207.6.158"
          },
          "params": {},
          "query": {},
          "body": {
            "object_kind": "push",
            "event_name": "push",
            "before": "b2160e1c0271e2e397da0e9b3f74440f1605d5df",
            "after": "84ede86484122810d7c21b829dae7e7130bb58ae",
            "ref": "refs/heads/master",
            "ref_protected": true,
            "checkout_sha": "84ede86484122810d7c21b829dae7e7130bb58ae",
            "message": null,
            "user_id": 170,
            "user_name": "李晓东",
            "user_username": "lixiaodong",
            "user_email": "",
            "user_avatar": "https://git.sansi.net:6101/uploads/-/system/user/avatar/170/avatar.png",
            "project_id": 9801,
            "project": {
              "id": 9801,
              "name": "01-LC2002App_SR",
              "description": null,
              "web_url": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr",
              "avatar_url": null,
              "git_ssh_url": "ssh://git@git.sansi.net:2222/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "git_http_url": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "namespace": "LC2002",
              "visibility_level": 0,
              "path_with_namespace": "smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr",
              "default_branch": "master",
              "ci_config_path": "",
              "homepage": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr",
              "url": "ssh://git@git.sansi.net:2222/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "ssh_url": "ssh://git@git.sansi.net:2222/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "http_url": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git"
            },
            "commits": [
              {
                "id": "84ede86484122810d7c21b829dae7e7130bb58ae",
                "message": "feat:add product test function\n",
                "title": "feat:add product test function",
                "timestamp": "2025-06-06T10:33:55+08:00",
                "url": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr/-/commit/84ede86484122810d7c21b829dae7e7130bb58ae",
                "author": {
                  "name": "lixiaodong",
                  "email": "lixiaodong@sansi.com"
                },
                "added": [],
                "modified": [
                  "bin/LC2002App",
                  "ss_apps/lc2002_ip/src/ss_common/ss_app.c",
                  "ss_apps/lc2002_ip/src/ss_common/ss_e485_1_task.c",
                  "ss_apps/lc2002_ip/src/ss_common/ssc_lc1002_main.h",
                  "ss_apps/lc2002_ip/src/ss_rk3568_bsp/ss_beep.c",
                  "ss_apps/lc2002_ip/src/ss_sub_board/ss_sub_task.c",
                  "ss_apps/lc2002_ip/src/ss_toolkits_ex/ss_toolkits_product_test.c",
                  "ss_apps/lc2002_ip/src/ssc_telnet/ssc_telnet_debug_extern.c"
                ],
                "removed": []
              }
            ],
            "total_commits_count": 1,
            "push_options": {},
            "repository": {
              "name": "01-LC2002App_SR",
              "url": "ssh://git@git.sansi.net:2222/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "description": null,
              "homepage": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr",
              "git_http_url": "https://git.sansi.net:6101/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "git_ssh_url": "ssh://git@git.sansi.net:2222/smarthomegroup_productteam/engineering-products/lc2002/01-lc2002app_sr.git",
              "visibility_level": 0
            }
          },
          "webhookUrl": "https://n8n.sansi.io/webhook/ab461997-e976-4bbe-8421-43af33d22998",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "a27b74ec-5b54-4bfc-9c21-001728262b86",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-31T01:15:30.308Z",
      "updatedAt": "2025-05-31T01:15:30.308Z",
      "role": "workflow:owner",
      "workflowId": "Q6ZU2o2yId8dIXD5",
      "projectId": "LISBZSaPxtZ9Pvzr",
      "project": {
        "createdAt": "2025-04-15T09:19:10.908Z",
        "updatedAt": "2025-04-15T09:19:58.342Z",
        "id": "LISBZSaPxtZ9Pvzr",
        "name": "Pei Qing <edwardtoday@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-04-15T09:19:10.909Z",
            "updatedAt": "2025-04-15T09:19:10.909Z",
            "userId": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
            "projectId": "LISBZSaPxtZ9Pvzr",
            "user": {
              "createdAt": "2025-04-15T09:19:10.504Z",
              "updatedAt": "2025-10-21T23:01:08.000Z",
              "id": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
              "email": "edwardtoday@gmail.com",
              "firstName": "Pei",
              "lastName": "Qing",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-15T09:23:28.486Z",
                "personalization_survey_n8n_version": "1.88.0"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "yXqi9J2w2Hn3NR9S",
                "userActivatedAt": 1744710510416,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750041371678
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
