MR自动+0/workflow.json
{
  "createdAt": "2025-05-30T13:51:48.625Z",
  "updatedAt": "2025-08-08T07:32:18.000Z",
  "id": "XQIDY4xawjeEro4k",
  "name": "MR自动+0",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14821a7a-69b3-4109-b0b3-83ccba955ec1",
        "options": {}
      },
      "id": "32d23e99-7bae-45b3-8615-d5ddf1910d96",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1460,
        260
      ],
      "webhookId": "14821a7a-69b3-4109-b0b3-83ccba955ec1",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Replace your gitlab URL and token ⬇️"
      },
      "id": "a6cb1c8b-e698-4a7f-9bb3-9802d63bf63b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Replace your gitlab URL and token ⬇️"
      },
      "id": "d18b320f-299d-48e0-beda-bb17a7b2bb82",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://git.sansi.net:6101/api/v4/projects/{{ $('Webhook').first().json.body.project.id }}/merge_requests/{{ $('Webhook').first().json.body.object_attributes.iid }}/discussions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "glpat-SLKEZBWoWC3jqHLD5y2k"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=+0"
            }
          ]
        },
        "options": {}
      },
      "id": "d22293dd-8a01-460c-a70a-13b000d846b7",
      "name": "comment on MR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        300,
        260
      ],
      "typeVersion": 4.2,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## 新做法：整个 MR 一起评价，加 note (comment)",
        "height": 260,
        "width": 1360
      },
      "id": "99318cb8-bdb1-432b-8286-834d75dc9697",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://git.sansi.net:6101/api/v4/projects/{{ $('Webhook').item.json.body.project.id }}/merge_requests/{{ $('Webhook').item.json.body.object_attributes.iid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "glpat-SLKEZBWoWC3jqHLD5y2k"
            }
          ]
        },
        "options": {}
      },
      "id": "6d3ae7f4-15e7-4844-9f7c-e4c846c285ad",
      "name": "get mr info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -800,
        260
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "=https://git.sansi.net:6101/api/v4/projects/{{ $('Webhook').item.json.body.project.id }}/merge_requests/{{ $('Webhook').item.json.body.object_attributes.iid }}/discussions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "PRIVATE-TOKEN",
              "value": "glpat-SLKEZBWoWC3jqHLD5y2k"
            }
          ]
        },
        "options": {}
      },
      "id": "9daafe7b-ae1b-402b-ace3-f504af7e22b0",
      "name": "get existing discussions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -360,
        260
      ],
      "typeVersion": 4.2,
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nvar needsReview = true\n\nfor (const item of $input.all()) {\n  console.log(item.json.notes[0].body)\n  if (item.json.notes[0].body.startsWith(\"+0\"))\n    needsReview = false\n}\n\nreturn {\n  needsReview\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        260
      ],
      "id": "0f83fedd-51dc-4cea-9c21-89109a8e63ab",
      "name": "auto review only once"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "819734f7-87af-4f76-9151-a4fcb6949186",
              "leftValue": "={{ $json.body.object_attributes.work_in_progress }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1020,
        260
      ],
      "id": "27a86018-b08b-47bd-a82a-21b25df89038",
      "name": "skip WIP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8852e2fe-c75d-480b-9f34-5f32bcacfe7f",
              "leftValue": "={{ $json.changes_count.toNumber() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "26343c26-4475-4fc4-b951-fa8607454c67",
              "leftValue": "={{ $json.changes_count.toNumber() }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -580,
        260
      ],
      "id": "7ddb6b7e-36d4-4438-bcc7-9ca30344789a",
      "name": "skip empty or huge MRs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "671803e2-4f33-4da6-978f-13d38d4a0171",
              "leftValue": "={{ $json.needsReview }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        260
      ],
      "id": "52c2667a-0e0e-44c3-9572-63b8e5ef9a0c",
      "name": "skip auto-reviewed MRs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2ce08ff-e575-45a6-836a-49f41093c120",
              "leftValue": "={{ $json.body.project.path_with_namespace }}",
              "rightValue": "led-control",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "61294a15-15eb-4c98-8b9a-3de4ed46138f",
              "leftValue": "={{ $json.body.project.path_with_namespace }}",
              "rightValue": "v3",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9e1735b2-5e57-4fbf-8fb6-9db8c2d9b8f7",
              "leftValue": "={{ $json.body.project.path_with_namespace }}",
              "rightValue": "common_display",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0c9d7821-3371-44ce-81d8-92c00db0f0fb",
              "leftValue": "={{ $json.body.project.path_with_namespace }}",
              "rightValue": "smarthomegroup_productteam",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1240,
        260
      ],
      "id": "2b360db7-2d58-4132-aa5f-64b98c2bee09",
      "name": "namespace"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get mr info": {
      "main": [
        [
          {
            "node": "skip empty or huge MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get existing discussions": {
      "main": [
        [
          {
            "node": "auto review only once",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "auto review only once": {
      "main": [
        [
          {
            "node": "skip auto-reviewed MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skip WIP": {
      "main": [
        [
          {
            "node": "get mr info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skip empty or huge MRs": {
      "main": [
        [
          {
            "node": "get existing discussions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skip auto-reviewed MRs": {
      "main": [
        [
          {
            "node": "comment on MR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "namespace": {
      "main": [
        [
          {
            "node": "skip WIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4c66ed0f-9d66-4a8c-bb8a-c200b6774499",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-05-30T13:51:48.628Z",
      "updatedAt": "2025-05-30T13:51:48.628Z",
      "role": "workflow:owner",
      "workflowId": "XQIDY4xawjeEro4k",
      "projectId": "LISBZSaPxtZ9Pvzr",
      "project": {
        "createdAt": "2025-04-15T09:19:10.908Z",
        "updatedAt": "2025-04-15T09:19:58.342Z",
        "id": "LISBZSaPxtZ9Pvzr",
        "name": "Pei Qing <edwardtoday@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-04-15T09:19:10.909Z",
            "updatedAt": "2025-04-15T09:19:10.909Z",
            "userId": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
            "projectId": "LISBZSaPxtZ9Pvzr",
            "user": {
              "createdAt": "2025-04-15T09:19:10.504Z",
              "updatedAt": "2025-10-21T23:01:08.000Z",
              "id": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
              "email": "edwardtoday@gmail.com",
              "firstName": "Pei",
              "lastName": "Qing",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-15T09:23:28.486Z",
                "personalization_survey_n8n_version": "1.88.0"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "yXqi9J2w2Hn3NR9S",
                "userActivatedAt": 1744710510416,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750041371678
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
