Sansi LED Weekly Intel/workflow.json
{
  "createdAt": "2025-10-21T08:31:07.897Z",
  "updatedAt": "2025-10-22T02:46:15.000Z",
  "id": "7I6dedX09mUHrfeq",
  "name": "Sansi LED Weekly Intel",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "F5BF9459-D9E2-45A9-9114-38359D6C9111",
      "name": "Cron - Weekly",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1456,
        -48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sansi-weekly-6dd89a8d917c5862698223a0",
        "options": {}
      },
      "id": "0AA0B118-09AE-4C2E-B9DD-C6AACF02FBDE",
      "name": "Webhook - Manual Run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        144
      ],
      "webhookId": "6dd0d2c4-b1b1-4e7a-9d65-a5e0fafa4d23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27DA37B8-20C7-4E5B-8154-E28788CA52A4",
              "name": "runContext.trigger",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "C2B84554-D14A-4C14-841B-46FDAF575F58",
              "name": "runContext.triggeredAt",
              "type": "string",
              "value": "={{$now}}"
            },
            {
              "id": "B59CC733-AC8E-4C36-AB76-5F0BBA0F8904",
              "name": "runContext.timezone",
              "type": "string",
              "value": "Asia/Shanghai"
            }
          ]
        },
        "options": {}
      },
      "id": "BACB7CAA-5617-4D4B-8505-9D9DBCBD2479",
      "name": "Set Run Context (Cron)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "FE8F00DD-4E1E-4EE1-A97E-2984495E049D",
              "name": "runContext.trigger",
              "type": "string",
              "value": "manual"
            },
            {
              "id": "5E7CF3BE-5C7E-44A5-BB59-0AE50372D5DA",
              "name": "runContext.triggeredAt",
              "type": "string",
              "value": "={{$now}}"
            },
            {
              "id": "625C7C13-19AC-4623-B17B-3811AF462B57",
              "name": "runContext.requestHeaders",
              "type": "json",
              "value": "={{$json.headers}}"
            },
            {
              "id": "D63971D4-AEF1-4365-9A39-AD00F1B88C42",
              "name": "runContext.requestQuery",
              "type": "json",
              "value": "={{$json.query}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4F1B40A0-BDEF-443E-A6F0-8034471D3BCE",
      "name": "Set Run Context (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        144
      ]
    },
    {
      "parameters": {},
      "id": "16A7C756-0C81-4655-B30D-DC0DAEC9E999",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst keywords = Array.isArray(input.keywords) ? input.keywords : [];\n\nconst rssFeeds = [\n  { source: 'MicroLED-Info', url: 'https://www.microled-info.com/rss.xml', category: 'technology', labels: ['microled', 'display'], maxItems: 40, weight: 6, language: 'en' },\n  { source: 'LEDinside', url: 'https://ledinside.com/news/feed', category: 'market', labels: ['led', 'market'], maxItems: 40, weight: 5.2, language: 'en' },\n  { source: 'OLED-Info', url: 'https://www.oled-info.com/rss.xml', category: 'technology', labels: ['oled', 'display'], maxItems: 30, weight: 5, language: 'en' },\n  { source: 'Digital Signage Today', url: 'https://www.digitalsignagetoday.com/rss/', category: 'competitive', labels: ['digital signage'], maxItems: 40, weight: 5.5, language: 'en' },\n  { source: 'Sixteen:Nine', url: 'https://www.sixteen-nine.net/feed/', category: 'competitive', labels: ['digital signage'], maxItems: 40, weight: 5.5, language: 'en' },\n  { source: 'Digital Signage Pulse', url: 'https://www.digitalsignagepulse.com/rss', category: 'competitive', labels: ['digital signage', 'pulse'], maxItems: 25, weight: 5.2, language: 'en' },\n  { source: 'Invidis Digital Signage', url: 'https://invidis.com/feed/', category: 'competitive', labels: ['digital signage', 'eu'], maxItems: 25, weight: 5.1, language: 'de' },\n  { source: 'AVInteractive', url: 'https://www.avinteractive.com/feed/', category: 'competitive', labels: ['pro av'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'AVNetwork', url: 'https://www.avnetwork.com/feeds.xml', category: 'competitive', labels: ['pro av'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'Lighting Global', url: 'https://www.lightingglobal.org/feed/', category: 'regulation', labels: ['policy', 'lighting'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'Signagelive', url: 'https://signagelive.com/feed/', category: 'technology', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'SmartCitiesDive', url: 'https://www.smartcitiesdive.com/feeds/news/', category: 'integration', labels: ['smart city'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'LightNOW', url: 'https://www.lightnowblog.com/feed/', category: 'technology', labels: ['lighting'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'Lux Review', url: 'https://www.luxreview.com/feed/', category: 'technology', labels: ['lighting'], maxItems: 30, weight: 4.4, language: 'en' },\n  { source: 'Illuminating Engineering Society', url: 'https://www.ies.org/feed/', category: 'regulation', labels: ['standards', 'lighting'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'EE Times', url: 'https://www.eetimes.com/feed/', category: 'technology', labels: ['semiconductor', 'components'], maxItems: 40, weight: 4.5, language: 'en' },\n  { source: 'Photonics.com', url: 'https://www.photonics.com/RSS.aspx?Tab=MostRecent', category: 'technology', labels: ['photonics'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'Journal of the SID', url: 'https://sid.onlinelibrary.wiley.com/action/showFeed?jc=2637496x&type=etoc&feed=rss', category: 'research', labels: ['display', 'sid'], maxItems: 20, weight: 5, language: 'en' },\n  { source: '36氪快讯', url: 'https://www.36kr.com/feed', category: 'cn-market', labels: ['cn', 'startup'], maxItems: 40, weight: 4.5, language: 'zh' },\n  { source: '钛媒体', url: 'https://www.tmtpost.com/rss', category: 'cn-market', labels: ['cn', 'technology'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '雷锋网', url: 'https://www.leiphone.com/feed', category: 'cn-market', labels: ['cn', 'ai'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '虎嗅网', url: 'https://www.huxiu.com/rss/0.xml', category: 'cn-market', labels: ['cn', 'business'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '赛迪网', url: 'https://www.ccidnet.com/rss/', category: 'cn-market', labels: ['cn', 'policy'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '智东西', url: 'https://zhidx.com/rss', category: 'cn-market', labels: ['cn', 'iot'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: 'China Daily Industry', url: 'https://www.chinadaily.com.cn/rss/china_rss.xml', category: 'cn-market', labels: ['cn', 'policy'], maxItems: 30, weight: 4.4, language: 'zh' },\n  { source: 'Daktronics', url: 'https://www.daktronics.com/news/rss', category: 'competitor', labels: ['competitor', 'daktronics', 'official'], maxItems: 30, weight: 5.5, language: 'en' },\n  { source: 'Samsung Newsroom', url: 'https://news.samsung.com/global/feed', category: 'competitor', labels: ['competitor', 'samsung', 'official'], maxItems: 30, weight: 5.3, language: 'en' },\n  { source: 'Dialight', url: 'https://www.dialight.com/feed/', category: 'competitor', labels: ['competitor', 'dialight', 'official'], maxItems: 20, weight: 5, language: 'en' },\n  { source: 'LED professional', url: 'https://www.led-professional.com/RSS', category: 'technology', labels: ['led', 'lighting', 'components'], maxItems: 30, weight: 4.9, language: 'en' },\n  { source: 'darc magazine', url: 'http://www.darcmagazine.com/feed/', category: 'market', labels: ['lighting', 'design', 'projects'], maxItems: 30, weight: 4.4, language: 'en' },\n  { source: 'Broadsign', url: 'https://broadsign.com/rss.xml', category: 'integration', labels: ['digital signage', 'dooh', 'platform'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'Yodeck', url: 'https://www.yodeck.com/feed/', category: 'integration', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.1, language: 'en' },\n  { source: 'Screenly', url: 'https://www.screenly.io/rss.xml', category: 'integration', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.1, language: 'en' },\n];\n\nconst buildGoogleTarget = (entry) => {\n  const hasWindow = entry.keyword.includes('when:');\n  const query = hasWindow ? entry.keyword : `${entry.keyword} when:7d`;\n  const isChinese = entry.language ? entry.language.startsWith('zh') : /[一-龥]/.test(query);\n  return {\n    keyword: entry.keyword,\n    query,\n    category: entry.category,\n    labels: entry.labels || [],\n    weight: entry.weight,\n    provider: 'google-news',\n    language: entry.language || (isChinese ? 'zh-CN' : 'en-US'),\n    region: entry.region || (isChinese ? 'CN' : 'US'),\n    maxItems: entry.maxItems || entry.maxResults || 6\n  };\n};\n\nconst keywordTargets = keywords.map((kw) => buildGoogleTarget(kw));\n\nconst manualSiteTargets = [\n  { keyword: 'site:leyard.com \"press release\" when:30d', category: 'competitive', labels: ['competitor', 'leyard', 'official'], language: 'en-US', region: 'US', maxItems: 6 },\n  { keyword: 'site:leyard.cn 新闻 when:30d', category: 'competitive', labels: ['competitor', 'leyard', 'cn', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:unilumin.com 公司 新闻 when:30d', category: 'competitive', labels: ['competitor', 'unilumin', 'official', 'cn'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:absen.com 新闻稿 when:30d', category: 'competitive', labels: ['competitor', 'absen', 'official', 'cn'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:absen-europe.com press release when:30d', category: 'competitive', labels: ['competitor', 'absen', 'official'], language: 'en-GB', region: 'GB', maxItems: 6 },\n  { keyword: 'site:opple.com.cn 品牌 资讯 when:30d', category: 'cn-market', labels: ['cn', 'lighting', 'opple', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:nvc-lighting.com.cn 新闻 when:30d', category: 'cn-market', labels: ['cn', 'lighting', 'nvc', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:signify.com press release when:30d', category: 'competitive', labels: ['competitor', 'signify', 'official'], language: 'en-US', region: 'NL', maxItems: 6 },\n  { keyword: 'site:ams-osram.com press release when:30d', category: 'competitive', labels: ['competitor', 'ams-osram', 'official'], language: 'en-US', region: 'US', maxItems: 6 },\n  { keyword: 'site:huawei.com 智慧城市 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'huawei'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:zte.com.cn 智慧城市 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'zte'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:qianfang.com 新闻 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'qianfang'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:gov.cn 智慧路灯 when:30d', category: 'regulation', labels: ['cn', 'policy', 'smart-lighting'], language: 'zh-CN', region: 'CN', maxItems: 6 }\n].map((entry) => buildGoogleTarget(entry));\n\nconst searchTargets = [...keywordTargets, ...manualSiteTargets];\n\nconst htmlSources = [\n  {\n    source: 'Unilumin Company News',\n    mode: 'html-list',\n    url: 'https://www.unilumin.com/news/company-news',\n    baseUrl: 'https://www.unilumin.com',\n    itemSelector: 'a.news-item',\n    category: 'competitive',\n    labels: ['competitor', 'unilumin', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.6,\n    parserId: 'unilumin_en'\n  },\n  {\n    source: 'Absen Europe News',\n    mode: 'wp-json',\n    apiUrl: 'https://www.absen-europe.com/wp-json/wp/v2/posts',\n    params: { per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'absen', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.6,\n    parserId: 'absen_wp'\n  },\n  {\n    source: 'OPPLE 品牌资讯',\n    parserId: 'opple_brand',\n    mode: 'json-post',\n    apiUrl: 'https://www.opple.com.cn/umbraco/surface/BrandNews/GetDealerNews',\n    payload: {\n      page: {\n        CurPage: 1,\n        PageSize: 8,\n        Search: {\n          NewsTagLst: ['39BA7BD2-3FE9-4874-9F73-2514EBD6256C']\n        },\n        JqSord: 'desc'\n      }\n    },\n    category: 'cn-market',\n    labels: ['cn', 'lighting', 'opple', 'official'],\n    language: 'zh',\n    maxItems: 8,\n    weight: 5.2\n  },\n  {\n    source: 'NVC 雷士照明 新闻',\n    parserId: 'nvc_news',\n    url: 'https://www.nvc-lighting.com.cn/news',\n    category: 'cn-market',\n    labels: ['cn', 'lighting', 'nvc', 'official'],\n    language: 'zh',\n    maxItems: 8,\n    weight: 5.2\n  },\n  {\n    source: 'rAVe Digital Signage (API)',\n    parserId: 'rave_wp',\n    apiUrl: 'https://www.ravepubs.com/wp-json/wp/v2/posts',\n    params: { search: 'digital signage', per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'ravepubs'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.1\n  },\n  {\n    source: 'LG Business Solutions (API)',\n    parserId: 'lg_wp',\n    apiUrl: 'https://www.lgnewsroom.com/wp-json/wp/v2/posts',\n    params: { search: 'business solutions', per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'lg', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.1\n  }\n];\n\nreturn [\n  {\n    json: {\n      runContext,\n      keywords,\n      rssFeeds,\n      searchTargets,\n      htmlSources\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst keywords = Array.isArray(input.keywords) ? input.keywords : [];\n\nconst rssFeeds = [\n  { source: 'MicroLED-Info', url: 'https://www.microled-info.com/rss.xml', category: 'technology', labels: ['microled', 'display'], maxItems: 40, weight: 6, language: 'en' },\n  { source: 'LEDinside', url: 'https://ledinside.com/news/feed', category: 'market', labels: ['led', 'market'], maxItems: 40, weight: 5.2, language: 'en' },\n  { source: 'OLED-Info', url: 'https://www.oled-info.com/rss.xml', category: 'technology', labels: ['oled', 'display'], maxItems: 30, weight: 5, language: 'en' },\n  { source: 'Digital Signage Today', url: 'https://www.digitalsignagetoday.com/rss/', category: 'competitive', labels: ['digital signage'], maxItems: 40, weight: 5.5, language: 'en' },\n  { source: 'Sixteen:Nine', url: 'https://www.sixteen-nine.net/feed/', category: 'competitive', labels: ['digital signage'], maxItems: 40, weight: 5.5, language: 'en' },\n  { source: 'Digital Signage Pulse', url: 'https://www.digitalsignagepulse.com/rss', category: 'competitive', labels: ['digital signage', 'pulse'], maxItems: 25, weight: 5.2, language: 'en' },\n  { source: 'Invidis Digital Signage', url: 'https://invidis.com/feed/', category: 'competitive', labels: ['digital signage', 'eu'], maxItems: 25, weight: 5.1, language: 'de' },\n  { source: 'AVInteractive', url: 'https://www.avinteractive.com/feed/', category: 'competitive', labels: ['pro av'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'AVNetwork', url: 'https://www.avnetwork.com/feeds.xml', category: 'competitive', labels: ['pro av'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'Lighting Global', url: 'https://www.lightingglobal.org/feed/', category: 'regulation', labels: ['policy', 'lighting'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'Signagelive', url: 'https://signagelive.com/feed/', category: 'technology', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'SmartCitiesDive', url: 'https://www.smartcitiesdive.com/feeds/news/', category: 'integration', labels: ['smart city'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'LightNOW', url: 'https://www.lightnowblog.com/feed/', category: 'technology', labels: ['lighting'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'Lux Review', url: 'https://www.luxreview.com/feed/', category: 'technology', labels: ['lighting'], maxItems: 30, weight: 4.4, language: 'en' },\n  { source: 'Illuminating Engineering Society', url: 'https://www.ies.org/feed/', category: 'regulation', labels: ['standards', 'lighting'], maxItems: 30, weight: 4.6, language: 'en' },\n  { source: 'EE Times', url: 'https://www.eetimes.com/feed/', category: 'technology', labels: ['semiconductor', 'components'], maxItems: 40, weight: 4.5, language: 'en' },\n  { source: 'Photonics.com', url: 'https://www.photonics.com/RSS.aspx?Tab=MostRecent', category: 'technology', labels: ['photonics'], maxItems: 30, weight: 4.5, language: 'en' },\n  { source: 'Journal of the SID', url: 'https://sid.onlinelibrary.wiley.com/action/showFeed?jc=2637496x&type=etoc&feed=rss', category: 'research', labels: ['display', 'sid'], maxItems: 20, weight: 5, language: 'en' },\n  { source: '36氪快讯', url: 'https://www.36kr.com/feed', category: 'cn-market', labels: ['cn', 'startup'], maxItems: 40, weight: 4.5, language: 'zh' },\n  { source: '钛媒体', url: 'https://www.tmtpost.com/rss', category: 'cn-market', labels: ['cn', 'technology'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '雷锋网', url: 'https://www.leiphone.com/feed', category: 'cn-market', labels: ['cn', 'ai'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '虎嗅网', url: 'https://www.huxiu.com/rss/0.xml', category: 'cn-market', labels: ['cn', 'business'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '赛迪网', url: 'https://www.ccidnet.com/rss/', category: 'cn-market', labels: ['cn', 'policy'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: '智东西', url: 'https://zhidx.com/rss', category: 'cn-market', labels: ['cn', 'iot'], maxItems: 30, weight: 4.5, language: 'zh' },\n  { source: 'China Daily Industry', url: 'https://www.chinadaily.com.cn/rss/china_rss.xml', category: 'cn-market', labels: ['cn', 'policy'], maxItems: 30, weight: 4.4, language: 'zh' },\n  { source: 'Daktronics', url: 'https://www.daktronics.com/news/rss', category: 'competitor', labels: ['competitor', 'daktronics', 'official'], maxItems: 30, weight: 5.5, language: 'en' },\n  { source: 'Samsung Newsroom', url: 'https://news.samsung.com/global/feed', category: 'competitor', labels: ['competitor', 'samsung', 'official'], maxItems: 30, weight: 5.3, language: 'en' },\n  { source: 'Dialight', url: 'https://www.dialight.com/feed/', category: 'competitor', labels: ['competitor', 'dialight', 'official'], maxItems: 20, weight: 5, language: 'en' },\n  { source: 'LED professional', url: 'https://www.led-professional.com/RSS', category: 'technology', labels: ['led', 'lighting', 'components'], maxItems: 30, weight: 4.9, language: 'en' },\n  { source: 'darc magazine', url: 'http://www.darcmagazine.com/feed/', category: 'market', labels: ['lighting', 'design', 'projects'], maxItems: 30, weight: 4.4, language: 'en' },\n  { source: 'Broadsign', url: 'https://broadsign.com/rss.xml', category: 'integration', labels: ['digital signage', 'dooh', 'platform'], maxItems: 30, weight: 4.7, language: 'en' },\n  { source: 'Yodeck', url: 'https://www.yodeck.com/feed/', category: 'integration', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.1, language: 'en' },\n  { source: 'Screenly', url: 'https://www.screenly.io/rss.xml', category: 'integration', labels: ['digital signage', 'software'], maxItems: 30, weight: 4.1, language: 'en' },\n];\n\nconst buildGoogleTarget = (entry) => {\n  const hasWindow = entry.keyword.includes('when:');\n  const query = hasWindow ? entry.keyword : `${entry.keyword} when:7d`;\n  const isChinese = entry.language ? entry.language.startsWith('zh') : /[一-龥]/.test(query);\n  return {\n    keyword: entry.keyword,\n    query,\n    category: entry.category,\n    labels: entry.labels || [],\n    weight: entry.weight,\n    provider: 'google-news',\n    language: entry.language || (isChinese ? 'zh-CN' : 'en-US'),\n    region: entry.region || (isChinese ? 'CN' : 'US'),\n    maxItems: entry.maxItems || entry.maxResults || 6\n  };\n};\n\nconst keywordTargets = keywords.map((kw) => buildGoogleTarget(kw));\n\nconst manualSiteTargets = [\n  { keyword: 'site:leyard.com \"press release\" when:30d', category: 'competitive', labels: ['competitor', 'leyard', 'official'], language: 'en-US', region: 'US', maxItems: 6 },\n  { keyword: 'site:leyard.cn 新闻 when:30d', category: 'competitive', labels: ['competitor', 'leyard', 'cn', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:unilumin.com 公司 新闻 when:30d', category: 'competitive', labels: ['competitor', 'unilumin', 'official', 'cn'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:absen.com 新闻稿 when:30d', category: 'competitive', labels: ['competitor', 'absen', 'official', 'cn'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:absen-europe.com press release when:30d', category: 'competitive', labels: ['competitor', 'absen', 'official'], language: 'en-GB', region: 'GB', maxItems: 6 },\n  { keyword: 'site:opple.com.cn 品牌 资讯 when:30d', category: 'cn-market', labels: ['cn', 'lighting', 'opple', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:nvc-lighting.com.cn 新闻 when:30d', category: 'cn-market', labels: ['cn', 'lighting', 'nvc', 'official'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:signify.com press release when:30d', category: 'competitive', labels: ['competitor', 'signify', 'official'], language: 'en-US', region: 'NL', maxItems: 6 },\n  { keyword: 'site:ams-osram.com press release when:30d', category: 'competitive', labels: ['competitor', 'ams-osram', 'official'], language: 'en-US', region: 'US', maxItems: 6 },\n  { keyword: 'site:huawei.com 智慧城市 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'huawei'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:zte.com.cn 智慧城市 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'zte'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:qianfang.com 新闻 when:30d', category: 'integration', labels: ['cn', 'smart-city', 'qianfang'], language: 'zh-CN', region: 'CN', maxItems: 6 },\n  { keyword: 'site:gov.cn 智慧路灯 when:30d', category: 'regulation', labels: ['cn', 'policy', 'smart-lighting'], language: 'zh-CN', region: 'CN', maxItems: 6 }\n].map((entry) => buildGoogleTarget(entry));\n\nconst searchTargets = [...keywordTargets, ...manualSiteTargets];\n\nconst htmlSources = [\n  {\n    source: 'Unilumin Company News',\n    mode: 'html-list',\n    url: 'https://www.unilumin.com/news/company-news',\n    baseUrl: 'https://www.unilumin.com',\n    itemSelector: 'a.news-item',\n    category: 'competitive',\n    labels: ['competitor', 'unilumin', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.6,\n    parserId: 'unilumin_en'\n  },\n  {\n    source: 'Absen Europe News',\n    mode: 'wp-json',\n    apiUrl: 'https://www.absen-europe.com/wp-json/wp/v2/posts',\n    params: { per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'absen', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.6,\n    parserId: 'absen_wp'\n  },\n  {\n    source: 'OPPLE 品牌资讯',\n    parserId: 'opple_brand',\n    mode: 'json-post',\n    apiUrl: 'https://www.opple.com.cn/umbraco/surface/BrandNews/GetDealerNews',\n    payload: {\n      page: {\n        CurPage: 1,\n        PageSize: 8,\n        Search: {\n          NewsTagLst: ['39BA7BD2-3FE9-4874-9F73-2514EBD6256C']\n        },\n        JqSord: 'desc'\n      }\n    },\n    category: 'cn-market',\n    labels: ['cn', 'lighting', 'opple', 'official'],\n    language: 'zh',\n    maxItems: 8,\n    weight: 5.2\n  },\n  {\n    source: 'NVC 雷士照明 新闻',\n    parserId: 'nvc_news',\n    url: 'https://www.nvc-lighting.com.cn/news',\n    category: 'cn-market',\n    labels: ['cn', 'lighting', 'nvc', 'official'],\n    language: 'zh',\n    maxItems: 8,\n    weight: 5.2\n  },\n  {\n    source: 'rAVe Digital Signage (API)',\n    parserId: 'rave_wp',\n    apiUrl: 'https://www.ravepubs.com/wp-json/wp/v2/posts',\n    params: { search: 'digital signage', per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'ravepubs'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.1\n  },\n  {\n    source: 'LG Business Solutions (API)',\n    parserId: 'lg_wp',\n    apiUrl: 'https://www.lgnewsroom.com/wp-json/wp/v2/posts',\n    params: { search: 'business solutions', per_page: 8 },\n    category: 'competitive',\n    labels: ['competitor', 'lg', 'official'],\n    language: 'en',\n    maxItems: 8,\n    weight: 5.1\n  }\n];\n\nreturn [\n  {\n    json: {\n      runContext,\n      keywords,\n      rssFeeds,\n      searchTargets,\n      htmlSources\n    }\n  }\n];"
      },
      "id": "67F4829A-0F77-430F-B7FF-3FFCA5F1E8BE",
      "name": "Build Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst rssFeeds = Array.isArray(input.rssFeeds) ? input.rssFeeds : [];\nconst searchTargets = Array.isArray(input.searchTargets) ? input.searchTargets : [];\nconst htmlSources = Array.isArray(input.htmlSources) ? input.htmlSources : [];\n\nconst collected = [];\nconst errors = [];\nconst sourcesStatus = [];\n\nconst debugSearchSamples = [];\n\nconst stripHtml = (inputText) => {\n  if (!inputText) return '';\n  if (typeof inputText !== 'string') {\n    return JSON.stringify(inputText);\n  }\n  return inputText.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst decodeEntities = (text = '') => {\n  return text\n    .replace(/<!\\[CDATA\\[(.*?)]]>/gs, '$1')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .trim();\n};\n\nconst toISODate = (value = '') => {\n  const raw = value.trim();\n  if (!raw) return '';\n  const normalized = raw\n    .replace(/年/g, '-')\n    .replace(/月/g, '-')\n    .replace(/日/g, '')\n    .replace(/\\./g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const parsed = Date.parse(normalized);\n  if (!Number.isNaN(parsed)) {\n    return new Date(parsed).toISOString();\n  }\n  return '';\n};\n\nconst now = new Date();\n\nfor (const feed of rssFeeds) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: {\n        'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)',\n        Accept: 'application/rss+xml, application/xml;q=0.9, */*;q=0.8'\n      },\n      timeout: 20000,\n      json: false,\n      responseFormat: 'string'\n    });\n\n    const xml = response.toString();\n    const debugSearch = Boolean(runContext.debugSearch);\n    const items = [];\n    const itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\n    let match;\n    while ((match = itemRegex.exec(xml)) !== null) {\n      items.push(match[0]);\n    }\n    if (!items.length) {\n      const entryRegex = /<entry[\\s\\S]*?<\\/entry>/gi;\n      let entry;\n      while ((entry = entryRegex.exec(xml)) !== null) {\n        items.push(entry[0]);\n      }\n    }\n\n    const maxItems = feed.maxItems || 200;\n    let counter = 0;\n\n    sourcesStatus.push({\n      source: feed.source,\n      url: feed.url,\n      category: feed.category,\n      sourceType: 'rss',\n      statusCode: 200,\n      itemCount: items.length\n    });\n\n    if (!items.length) {\n      errors.push({\n        source: feed.source,\n        url: feed.url,\n        category: feed.category,\n        sourceType: 'rss',\n        message: '未能解析到 RSS 条目'\n      });\n    }\n\n    const extractTag = (block, tag) => {\n      const regex = new RegExp('<' + tag + '[^>]*>([^]*?)</' + tag + '>', 'i');\n      const tagMatch = regex.exec(block);\n      return tagMatch ? decodeEntities(tagMatch[1]) : '';\n    };\n\n    const extractLink = (block) => {\n      const attrLink = /<link[^>]*href=\"([^\"]+)\"[^>]*>/i.exec(block);\n      if (attrLink) return decodeEntities(attrLink[1]);\n      const tagLink = extractTag(block, 'link');\n      if (tagLink) return tagLink;\n      const guid = extractTag(block, 'guid');\n      return guid;\n    };\n\n    for (const block of items) {\n      if (counter >= maxItems) break;\n      counter += 1;\n\n      const title = extractTag(block, 'title') || '(未命名)';\n      const linkValue = extractLink(block);\n      const descriptionValue = extractTag(block, 'description') || extractTag(block, 'summary') || extractTag(block, 'content') || '';\n      const publishedRaw = extractTag(block, 'pubDate') || extractTag(block, 'published') || extractTag(block, 'updated') || extractTag(block, 'dc:date') || '';\n      const publishedAt = publishedRaw ? new Date(publishedRaw).toISOString().replace('Invalid Date', '') : '';\n\n      collected.push({\n        category: feed.category,\n        source: feed.source,\n        sourceType: 'rss',\n        feedUrl: feed.url,\n        weight: feed.weight || 5,\n        title: decodeEntities(title),\n        link: (linkValue || '').trim(),\n        description: stripHtml(descriptionValue),\n        publishedRaw,\n        publishedAt,\n        language: feed.language || null,\n        labels: feed.labels || [],\n        runContext\n      });\n    }\n  } catch (error) {\n    errors.push({\n      source: feed.source,\n      url: feed.url,\n      category: feed.category,\n      sourceType: 'rss',\n      message: error.message || '请求失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\nconst buildSearchUrl = (target) => {\n  const params = {\n    q: target.query,\n    hl: target.language || 'en-US',\n    gl: target.region?.split(':')[0] || (target.language && target.language.startsWith('zh') ? 'CN' : 'US'),\n    ceid: `${target.region || (target.language && target.language.startsWith('zh') ? 'CN' : 'US')}:${(target.language || 'en-US').split('-')[0]}`\n  };\n  return 'https://news.google.com/rss/search?' + Object.entries(params)\n    .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)\n    .join('&');\n};\n\nfor (const target of searchTargets) {\n  try {\n    const searchUrl = buildSearchUrl(target);\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: searchUrl,\n      headers: {\n        'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)',\n        Accept: 'application/rss+xml, application/xml;q=0.9, */*;q=0.8'\n      },\n      timeout: 20000,\n      json: false,\n      responseFormat: 'string'\n    });\n\n    const xml = response.toString();\n    const debugSearch = Boolean(runContext.debugSearch);\n    const entries = [];\n    const itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\n    let match;\n    while ((match = itemRegex.exec(xml)) !== null) {\n      entries.push(match[0]);\n    }\n\n    if (debugSearch && debugSearchSamples.length < 2 && (target.category || '').toLowerCase() === 'tender-cn') {\n      debugSearchSamples.push({\n        keyword: target.keyword,\n        url: searchUrl,\n        xmlHead: xml.slice(0, 400),\n        firstItemHead: entries[0] ? entries[0].slice(0, 1200) : ''\n      });\n    }\n\n    const limit = target.maxItems || 5;\n    let added = 0;\n\n    sourcesStatus.push({\n      source: target.keyword,\n      url: searchUrl,\n      category: target.category,\n      sourceType: 'search',\n      statusCode: 200,\n      itemCount: entries.length\n    });\n\n    const extractTag = (block, tag) => {\n      const regex = new RegExp('<' + tag + '[^>]*>([^]*?)</' + tag + '>', 'i');\n      const tagMatch = regex.exec(block);\n      return tagMatch ? decodeEntities(tagMatch[1]) : '';\n    };\n\n    const extractLink = (block) => {\n      const attrLink = /<link[^>]*href=\"([^\"]+)\"[^>]*>/i.exec(block);\n      if (attrLink) return decodeEntities(attrLink[1]);\n      const tagLink = extractTag(block, 'link');\n      if (tagLink) return tagLink;\n      const guid = extractTag(block, 'guid');\n      return guid;\n    };\n\n    for (const block of entries) {\n      if (added >= limit) break;\n\n      const linkValue = extractLink(block);\n      const title = extractTag(block, 'title') || '(未命名)';\n      const descriptionValue = extractTag(block, 'description') || '';\n      const publishedRaw = extractTag(block, 'pubDate') || extractTag(block, 'published') || '';\n      const publishedAt = publishedRaw ? new Date(publishedRaw).toISOString().replace('Invalid Date', '') : '';\n\n      let summary = stripHtml(descriptionValue);\n      if (!summary && linkValue) {\n        try {\n          const body = await this.helpers.httpRequest({\n            method: 'GET',\n            url: linkValue,\n            headers: {\n              'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n            },\n            timeout: 15000,\n            responseFormat: 'string'\n          });\n          summary = stripHtml(body.toString()).slice(0, 800);\n        } catch (innerError) {\n          errors.push({\n            source: target.keyword,\n            url: linkValue,\n            category: target.category,\n            sourceType: 'search',\n            message: innerError.message || '获取正文失败'\n          });\n        }\n      }\n\n      collected.push({\n        category: target.category,\n        source: target.keyword,\n        sourceType: 'search',\n        keyword: target.keyword,\n        query: target.query,\n        weight: target.weight || 5.5,\n        title: decodeEntities(title),\n        link: (linkValue || '').trim(),\n        description: summary,\n        publishedRaw,\n        publishedAt,\n        labels: target.labels || [],\n        language: target.language || null,\n        runContext\n      });\n\n      added += 1;\n    }\n  } catch (error) {\n    errors.push({\n      source: target.keyword,\n      url: target.query,\n      category: target.category,\n      sourceType: 'search',\n      message: error.message || '搜索抓取失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\nconst htmlParsers = {};\n\nhtmlParsers.unilumin_en = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    responseFormat: 'string',\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const html = responseBody.toString();\n  const statusCode = response?.statusCode || 200;\n  const results = [];\n  const regex = /<a href=\\\"(\\/news\\/company-news\\/[^\\\"]+)\\\" class=\\\"news-item[^\\\"]*\\\">([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  while ((match = regex.exec(html)) !== null) {\n    const block = match[2];\n    const dateMatch = /<div class=\\\"news-item__date\\\">([\\s\\S]*?)<\\/div>/i.exec(block);\n    const titleMatch = /<h2 class=\\\"news-item__title\\\">([\\s\\S]*?)<\\/h2>/i.exec(block);\n    const descMatch = /<div class=\\\"news-item__desc\\\">([\\s\\S]*?)<\\/div>/i.exec(block);\n    const href = match[1];\n    const base = (source.baseUrl || source.url || '').replace(/\\/$/, '');\n    const link = href.startsWith('http') ? href : `${base}${href.startsWith('/') ? '' : '/'}${href.replace(/^\\/+/, '')}`;\n    results.push({\n      link,\n      title: decodeEntities(stripHtml(titleMatch ? titleMatch[1] : '')),\n      description: decodeEntities(stripHtml(descMatch ? descMatch[1] : '')),\n      publishedRaw: dateMatch ? decodeEntities(dateMatch[1]) : ''\n    });\n    if (results.length >= (source.maxItems || 6)) break;\n  }\n  return {\n    items: results,\n    statusCode\n  };\n};\n\nhtmlParsers.absen_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.opple_brand = async (source) => {\n  const payload = JSON.parse(JSON.stringify(source.payload || {\n    page: {\n      CurPage: 1,\n      PageSize: 8,\n      Search: { NewsTagLst: [] },\n      JqSord: 'desc'\n    }\n  }));\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: source.apiUrl,\n    body: payload,\n    json: true,\n    headers: {\n      'Content-Type': 'application/json',\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const list = Array.isArray(responseBody?.PageList) ? responseBody.PageList : [];\n  const detailBase = source.detailBase || 'https://www.opple.com.cn/news/branddetail/';\n  const items = list.slice(0, source.maxItems || 8).map((entry) => {\n    const rawDate = entry.CreateDate || entry.Create_Time || '';\n    const publishedRaw = rawDate ? rawDate.toString() : '';\n    const publishedAt = publishedRaw ? `${publishedRaw}T00:00:00+08:00` : '';\n    const external = entry.ExternalLink && entry.ExternalLink !== 'http://';\n    const link = external ? entry.ExternalLink : `${detailBase}${entry.Id}`;\n    return {\n      link,\n      title: decodeEntities(stripHtml(entry.NewsTitle || '(未命名)')),\n      description: decodeEntities(stripHtml(entry.NewsBrief || '')),\n      publishedRaw,\n      publishedAt: publishedRaw && !Number.isNaN(Date.parse(publishedAt)) ? new Date(publishedAt).toISOString() : ''\n    };\n  });\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.nvc_news = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    responseFormat: 'string',\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const html = responseBody.toString();\n  const statusCode = response?.statusCode || 200;\n  const results = [];\n  const regex = /<a[^>]*class=\\\"msg\\\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  while ((match = regex.exec(html)) !== null) {\n    const block = match[0];\n    const hrefMatch = /href=\\\"([^\\\"]+)\\\"/i.exec(block);\n    const dateMatch = /<span[^>]*>(\\d{4}[\\-\\.\\/]\\d{2}[\\-\\.\\/]\\d{2})<\\/span>/i.exec(block);\n    const titleMatch = /<p[^>]*>([^<]+)<\\/p>/i.exec(block);\n    const href = hrefMatch ? hrefMatch[1] : '';\n    const link = href.startsWith('http') ? href : `https://www.nvc-lighting.com.cn${href}`;\n    const publishedRaw = dateMatch ? dateMatch[1].replace(/\\./g, '-').replace(/\\//g, '-') : '';\n    const publishedAt = publishedRaw ? `${publishedRaw}T00:00:00+08:00` : '';\n    results.push({\n      link,\n      title: decodeEntities(stripHtml(titleMatch ? titleMatch[1] : '(未命名)')),\n      description: '',\n      publishedRaw,\n      publishedAt: publishedRaw && !Number.isNaN(Date.parse(publishedAt)) ? new Date(publishedAt).toISOString() : ''\n    });\n    if (results.length >= (source.maxItems || 8)) break;\n  }\n  return {\n    items: results,\n    statusCode\n  };\n};\n\nhtmlParsers.rave_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.lg_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nfor (const src of htmlSources) {\n  try {\n    const parser = htmlParsers[src.parserId];\n    if (!parser) {\n      errors.push({\n        source: src.source,\n        url: src.url || src.apiUrl,\n        category: src.category,\n        sourceType: 'html',\n        message: `缺少解析器: ${src.parserId}`\n      });\n      continue;\n    }\n\n    const result = await parser(src) || {};\n    const items = Array.isArray(result.items) ? result.items : [];\n    const statusCode = result.statusCode ?? 200;\n\n    sourcesStatus.push({\n      source: src.source,\n      url: src.url || src.apiUrl,\n      category: src.category,\n      sourceType: 'html',\n      statusCode,\n      itemCount: items.length\n    });\n\n    if (!items.length) {\n      continue;\n    }\n\n    for (const item of items) {\n      const publishedRaw = item.publishedRaw || '';\n      const publishedAt = item.publishedAt || toISODate(publishedRaw);\n      collected.push({\n        category: src.category,\n        source: src.source,\n        sourceType: 'html',\n        feedUrl: src.url || src.apiUrl,\n        weight: src.weight || 5,\n        title: item.title || '(未命名)',\n        link: item.link || '',\n        description: item.description || '',\n        publishedRaw,\n        publishedAt,\n        language: src.language || null,\n        labels: src.labels || [],\n        runContext\n      });\n    }\n  } catch (error) {\n    errors.push({\n      source: src.source,\n      url: src.url || src.apiUrl,\n      category: src.category,\n      sourceType: 'html',\n      message: error.message || 'HTML 源拉取失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\n\n\nreturn [\n  {\n    json: {\n      runContext,\n      articles: collected,\n      feedCount: rssFeeds.length + searchTargets.length + htmlSources.length,\n      fetchedAt: now.toISOString(),\n      diagnostics: {\n        sources: sourcesStatus,\n        errors,\n        ...(debugSearchSamples.length ? { debugSearchSamples } : {})\n      }\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst rssFeeds = Array.isArray(input.rssFeeds) ? input.rssFeeds : [];\nconst searchTargets = Array.isArray(input.searchTargets) ? input.searchTargets : [];\nconst htmlSources = Array.isArray(input.htmlSources) ? input.htmlSources : [];\n\nconst collected = [];\nconst errors = [];\nconst sourcesStatus = [];\n\nconst debugSearchSamples = [];\n\nconst stripHtml = (inputText) => {\n  if (!inputText) return '';\n  if (typeof inputText !== 'string') {\n    return JSON.stringify(inputText);\n  }\n  return inputText.replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst decodeEntities = (text = '') => {\n  return text\n    .replace(/<!\\[CDATA\\[(.*?)]]>/gs, '$1')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .trim();\n};\n\nconst toISODate = (value = '') => {\n  const raw = value.trim();\n  if (!raw) return '';\n  const normalized = raw\n    .replace(/年/g, '-')\n    .replace(/月/g, '-')\n    .replace(/日/g, '')\n    .replace(/\\./g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const parsed = Date.parse(normalized);\n  if (!Number.isNaN(parsed)) {\n    return new Date(parsed).toISOString();\n  }\n  return '';\n};\n\nconst now = new Date();\n\nfor (const feed of rssFeeds) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: feed.url,\n      headers: {\n        'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)',\n        Accept: 'application/rss+xml, application/xml;q=0.9, */*;q=0.8'\n      },\n      timeout: 20000,\n      json: false,\n      responseFormat: 'string'\n    });\n\n    const xml = response.toString();\n    const debugSearch = Boolean(runContext.debugSearch);\n    const items = [];\n    const itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\n    let match;\n    while ((match = itemRegex.exec(xml)) !== null) {\n      items.push(match[0]);\n    }\n    if (!items.length) {\n      const entryRegex = /<entry[\\s\\S]*?<\\/entry>/gi;\n      let entry;\n      while ((entry = entryRegex.exec(xml)) !== null) {\n        items.push(entry[0]);\n      }\n    }\n\n    const maxItems = feed.maxItems || 200;\n    let counter = 0;\n\n    sourcesStatus.push({\n      source: feed.source,\n      url: feed.url,\n      category: feed.category,\n      sourceType: 'rss',\n      statusCode: 200,\n      itemCount: items.length\n    });\n\n    if (!items.length) {\n      errors.push({\n        source: feed.source,\n        url: feed.url,\n        category: feed.category,\n        sourceType: 'rss',\n        message: '未能解析到 RSS 条目'\n      });\n    }\n\n    const extractTag = (block, tag) => {\n      const regex = new RegExp('<' + tag + '[^>]*>([^]*?)</' + tag + '>', 'i');\n      const tagMatch = regex.exec(block);\n      return tagMatch ? decodeEntities(tagMatch[1]) : '';\n    };\n\n    const extractLink = (block) => {\n      const attrLink = /<link[^>]*href=\"([^\"]+)\"[^>]*>/i.exec(block);\n      if (attrLink) return decodeEntities(attrLink[1]);\n      const tagLink = extractTag(block, 'link');\n      if (tagLink) return tagLink;\n      const guid = extractTag(block, 'guid');\n      return guid;\n    };\n\n    for (const block of items) {\n      if (counter >= maxItems) break;\n      counter += 1;\n\n      const title = extractTag(block, 'title') || '(未命名)';\n      const linkValue = extractLink(block);\n      const descriptionValue = extractTag(block, 'description') || extractTag(block, 'summary') || extractTag(block, 'content') || '';\n      const publishedRaw = extractTag(block, 'pubDate') || extractTag(block, 'published') || extractTag(block, 'updated') || extractTag(block, 'dc:date') || '';\n      const publishedAt = publishedRaw ? new Date(publishedRaw).toISOString().replace('Invalid Date', '') : '';\n\n      collected.push({\n        category: feed.category,\n        source: feed.source,\n        sourceType: 'rss',\n        feedUrl: feed.url,\n        weight: feed.weight || 5,\n        title: decodeEntities(title),\n        link: (linkValue || '').trim(),\n        description: stripHtml(descriptionValue),\n        publishedRaw,\n        publishedAt,\n        language: feed.language || null,\n        labels: feed.labels || [],\n        runContext\n      });\n    }\n  } catch (error) {\n    errors.push({\n      source: feed.source,\n      url: feed.url,\n      category: feed.category,\n      sourceType: 'rss',\n      message: error.message || '请求失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\nconst buildSearchUrl = (target) => {\n  const params = {\n    q: target.query,\n    hl: target.language || 'en-US',\n    gl: target.region?.split(':')[0] || (target.language && target.language.startsWith('zh') ? 'CN' : 'US'),\n    ceid: `${target.region || (target.language && target.language.startsWith('zh') ? 'CN' : 'US')}:${(target.language || 'en-US').split('-')[0]}`\n  };\n  return 'https://news.google.com/rss/search?' + Object.entries(params)\n    .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)\n    .join('&');\n};\n\nfor (const target of searchTargets) {\n  try {\n    const searchUrl = buildSearchUrl(target);\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: searchUrl,\n      headers: {\n        'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)',\n        Accept: 'application/rss+xml, application/xml;q=0.9, */*;q=0.8'\n      },\n      timeout: 20000,\n      json: false,\n      responseFormat: 'string'\n    });\n\n    const xml = response.toString();\n    const debugSearch = Boolean(runContext.debugSearch);\n    const entries = [];\n    const itemRegex = /<item[\\s\\S]*?<\\/item>/gi;\n    let match;\n    while ((match = itemRegex.exec(xml)) !== null) {\n      entries.push(match[0]);\n    }\n\n    if (debugSearch && debugSearchSamples.length < 2 && (target.category || '').toLowerCase() === 'tender-cn') {\n      debugSearchSamples.push({\n        keyword: target.keyword,\n        url: searchUrl,\n        xmlHead: xml.slice(0, 400),\n        firstItemHead: entries[0] ? entries[0].slice(0, 1200) : ''\n      });\n    }\n\n    const limit = target.maxItems || 5;\n    let added = 0;\n\n    sourcesStatus.push({\n      source: target.keyword,\n      url: searchUrl,\n      category: target.category,\n      sourceType: 'search',\n      statusCode: 200,\n      itemCount: entries.length\n    });\n\n    const extractTag = (block, tag) => {\n      const regex = new RegExp('<' + tag + '[^>]*>([^]*?)</' + tag + '>', 'i');\n      const tagMatch = regex.exec(block);\n      return tagMatch ? decodeEntities(tagMatch[1]) : '';\n    };\n\n    const extractLink = (block) => {\n      const attrLink = /<link[^>]*href=\"([^\"]+)\"[^>]*>/i.exec(block);\n      if (attrLink) return decodeEntities(attrLink[1]);\n      const tagLink = extractTag(block, 'link');\n      if (tagLink) return tagLink;\n      const guid = extractTag(block, 'guid');\n      return guid;\n    };\n\n    for (const block of entries) {\n      if (added >= limit) break;\n\n      const linkValue = extractLink(block);\n      const title = extractTag(block, 'title') || '(未命名)';\n      const descriptionValue = extractTag(block, 'description') || '';\n      const publishedRaw = extractTag(block, 'pubDate') || extractTag(block, 'published') || '';\n      const publishedAt = publishedRaw ? new Date(publishedRaw).toISOString().replace('Invalid Date', '') : '';\n\n      let summary = stripHtml(descriptionValue);\n      if (!summary && linkValue) {\n        try {\n          const body = await this.helpers.httpRequest({\n            method: 'GET',\n            url: linkValue,\n            headers: {\n              'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n            },\n            timeout: 15000,\n            responseFormat: 'string'\n          });\n          summary = stripHtml(body.toString()).slice(0, 800);\n        } catch (innerError) {\n          errors.push({\n            source: target.keyword,\n            url: linkValue,\n            category: target.category,\n            sourceType: 'search',\n            message: innerError.message || '获取正文失败'\n          });\n        }\n      }\n\n      collected.push({\n        category: target.category,\n        source: target.keyword,\n        sourceType: 'search',\n        keyword: target.keyword,\n        query: target.query,\n        weight: target.weight || 5.5,\n        title: decodeEntities(title),\n        link: (linkValue || '').trim(),\n        description: summary,\n        publishedRaw,\n        publishedAt,\n        labels: target.labels || [],\n        language: target.language || null,\n        runContext\n      });\n\n      added += 1;\n    }\n  } catch (error) {\n    errors.push({\n      source: target.keyword,\n      url: target.query,\n      category: target.category,\n      sourceType: 'search',\n      message: error.message || '搜索抓取失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\nconst htmlParsers = {};\n\nhtmlParsers.unilumin_en = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    responseFormat: 'string',\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const html = responseBody.toString();\n  const statusCode = response?.statusCode || 200;\n  const results = [];\n  const regex = /<a href=\\\"(\\/news\\/company-news\\/[^\\\"]+)\\\" class=\\\"news-item[^\\\"]*\\\">([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  while ((match = regex.exec(html)) !== null) {\n    const block = match[2];\n    const dateMatch = /<div class=\\\"news-item__date\\\">([\\s\\S]*?)<\\/div>/i.exec(block);\n    const titleMatch = /<h2 class=\\\"news-item__title\\\">([\\s\\S]*?)<\\/h2>/i.exec(block);\n    const descMatch = /<div class=\\\"news-item__desc\\\">([\\s\\S]*?)<\\/div>/i.exec(block);\n    const href = match[1];\n    const base = (source.baseUrl || source.url || '').replace(/\\/$/, '');\n    const link = href.startsWith('http') ? href : `${base}${href.startsWith('/') ? '' : '/'}${href.replace(/^\\/+/, '')}`;\n    results.push({\n      link,\n      title: decodeEntities(stripHtml(titleMatch ? titleMatch[1] : '')),\n      description: decodeEntities(stripHtml(descMatch ? descMatch[1] : '')),\n      publishedRaw: dateMatch ? decodeEntities(dateMatch[1]) : ''\n    });\n    if (results.length >= (source.maxItems || 6)) break;\n  }\n  return {\n    items: results,\n    statusCode\n  };\n};\n\nhtmlParsers.absen_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.opple_brand = async (source) => {\n  const payload = JSON.parse(JSON.stringify(source.payload || {\n    page: {\n      CurPage: 1,\n      PageSize: 8,\n      Search: { NewsTagLst: [] },\n      JqSord: 'desc'\n    }\n  }));\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: source.apiUrl,\n    body: payload,\n    json: true,\n    headers: {\n      'Content-Type': 'application/json',\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const list = Array.isArray(responseBody?.PageList) ? responseBody.PageList : [];\n  const detailBase = source.detailBase || 'https://www.opple.com.cn/news/branddetail/';\n  const items = list.slice(0, source.maxItems || 8).map((entry) => {\n    const rawDate = entry.CreateDate || entry.Create_Time || '';\n    const publishedRaw = rawDate ? rawDate.toString() : '';\n    const publishedAt = publishedRaw ? `${publishedRaw}T00:00:00+08:00` : '';\n    const external = entry.ExternalLink && entry.ExternalLink !== 'http://';\n    const link = external ? entry.ExternalLink : `${detailBase}${entry.Id}`;\n    return {\n      link,\n      title: decodeEntities(stripHtml(entry.NewsTitle || '(未命名)')),\n      description: decodeEntities(stripHtml(entry.NewsBrief || '')),\n      publishedRaw,\n      publishedAt: publishedRaw && !Number.isNaN(Date.parse(publishedAt)) ? new Date(publishedAt).toISOString() : ''\n    };\n  });\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.nvc_news = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.url,\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    responseFormat: 'string',\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const html = responseBody.toString();\n  const statusCode = response?.statusCode || 200;\n  const results = [];\n  const regex = /<a[^>]*class=\\\"msg\\\"[^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let match;\n  while ((match = regex.exec(html)) !== null) {\n    const block = match[0];\n    const hrefMatch = /href=\\\"([^\\\"]+)\\\"/i.exec(block);\n    const dateMatch = /<span[^>]*>(\\d{4}[\\-\\.\\/]\\d{2}[\\-\\.\\/]\\d{2})<\\/span>/i.exec(block);\n    const titleMatch = /<p[^>]*>([^<]+)<\\/p>/i.exec(block);\n    const href = hrefMatch ? hrefMatch[1] : '';\n    const link = href.startsWith('http') ? href : `https://www.nvc-lighting.com.cn${href}`;\n    const publishedRaw = dateMatch ? dateMatch[1].replace(/\\./g, '-').replace(/\\//g, '-') : '';\n    const publishedAt = publishedRaw ? `${publishedRaw}T00:00:00+08:00` : '';\n    results.push({\n      link,\n      title: decodeEntities(stripHtml(titleMatch ? titleMatch[1] : '(未命名)')),\n      description: '',\n      publishedRaw,\n      publishedAt: publishedRaw && !Number.isNaN(Date.parse(publishedAt)) ? new Date(publishedAt).toISOString() : ''\n    });\n    if (results.length >= (source.maxItems || 8)) break;\n  }\n  return {\n    items: results,\n    statusCode\n  };\n};\n\nhtmlParsers.rave_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nhtmlParsers.lg_wp = async (source) => {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: source.apiUrl,\n    qs: source.params || {},\n    headers: {\n      'User-Agent': 'SansiIntelBot/1.0 (+https://sansi.com)'\n    },\n    timeout: 20000,\n    json: true,\n    resolveWithFullResponse: true\n  });\n  const responseBody = response?.body !== undefined ? response.body : response;\n  const body = Array.isArray(responseBody) ? responseBody : [];\n  const items = body.slice(0, source.maxItems || (source.params?.per_page || 6)).map((entry) => ({\n    link: entry.link,\n    title: decodeEntities(stripHtml(entry.title?.rendered || '(未命名)')),\n    description: decodeEntities(stripHtml(entry.excerpt?.rendered || entry.content?.rendered || '')),\n    publishedRaw: entry.date || ''\n  }));\n  return {\n    items,\n    statusCode: response?.statusCode || 200\n  };\n};\n\nfor (const src of htmlSources) {\n  try {\n    const parser = htmlParsers[src.parserId];\n    if (!parser) {\n      errors.push({\n        source: src.source,\n        url: src.url || src.apiUrl,\n        category: src.category,\n        sourceType: 'html',\n        message: `缺少解析器: ${src.parserId}`\n      });\n      continue;\n    }\n\n    const result = await parser(src) || {};\n    const items = Array.isArray(result.items) ? result.items : [];\n    const statusCode = result.statusCode ?? 200;\n\n    sourcesStatus.push({\n      source: src.source,\n      url: src.url || src.apiUrl,\n      category: src.category,\n      sourceType: 'html',\n      statusCode,\n      itemCount: items.length\n    });\n\n    if (!items.length) {\n      continue;\n    }\n\n    for (const item of items) {\n      const publishedRaw = item.publishedRaw || '';\n      const publishedAt = item.publishedAt || toISODate(publishedRaw);\n      collected.push({\n        category: src.category,\n        source: src.source,\n        sourceType: 'html',\n        feedUrl: src.url || src.apiUrl,\n        weight: src.weight || 5,\n        title: item.title || '(未命名)',\n        link: item.link || '',\n        description: item.description || '',\n        publishedRaw,\n        publishedAt,\n        language: src.language || null,\n        labels: src.labels || [],\n        runContext\n      });\n    }\n  } catch (error) {\n    errors.push({\n      source: src.source,\n      url: src.url || src.apiUrl,\n      category: src.category,\n      sourceType: 'html',\n      message: error.message || 'HTML 源拉取失败',\n      code: error.code || error.statusCode\n    });\n  }\n}\n\n\n\nreturn [\n  {\n    json: {\n      runContext,\n      articles: collected,\n      feedCount: rssFeeds.length + searchTargets.length + htmlSources.length,\n      fetchedAt: now.toISOString(),\n      diagnostics: {\n        sources: sourcesStatus,\n        errors,\n        ...(debugSearchSamples.length ? { debugSearchSamples } : {})\n      }\n    }\n  }\n];"
      },
      "id": "9D5D57DF-5AA3-4159-B330-999FFB1A07BE",
      "name": "Fetch Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst articles = Array.isArray(input.articles) ? input.articles : [];\nconst diagnosticsInput = input.diagnostics || {};\nconst feedErrors = Array.isArray(diagnosticsInput.errors) ? diagnosticsInput.errors : [];\nconst sourcesStatus = Array.isArray(diagnosticsInput.sources) ? diagnosticsInput.sources : [];\n\nconst alerts = [];\nif (!articles.length) {\n  alerts.push({\n    level: 'error',\n    code: 'NO_ARTICLES',\n    message: '本次抓取返回 0 条候选资讯，请检查资讯源或网络可达性。',\n    feedCount: input.feedCount || 0\n  });\n}\nif (feedErrors.length) {\n  alerts.push({\n    level: 'error',\n    code: 'FEED_ERRORS',\n    message: `共有 ${feedErrors.length} 个资讯源抓取失败。`\n  });\n}\n\nconst now = new Date();\nconst windowDays = Number.isFinite(input.windowDays) ? input.windowDays : 21;\nconst cutoff = new Date(now.getTime() - windowDays * 24 * 60 * 60 * 1000);\n\nconst knownSections = new Map([\n  ['market', '行业与市场动态'],\n  ['competitive', '竞品与重大项目'],\n  ['tender-cn', '工程中标/候选人（≥100万）'],\n  ['technology', '技术突破与材料工艺'],\n  ['regulation', '法规 / 标准 / 合规提醒'],\n  ['integration', '可集成方案与合作机会']\n]);\n\nconst keywordSets = {\n  market: ['market', 'marketshare', '订单', '签约', 'tender', '招标', '出货', 'deployment', '项目', 'ppp'],\n  competitive: ['competitor', 'unilumin', 'leyard', 'liantronics', 'absen', 'daktronics', '洲明', '联建', '雷士', '欧普', '三星', 'lg', 'signify', 'ams', 'official', 'press release', '新闻稿'],\n  'tender-cn': ['中标结果公告', '定标结果公告', '成交结果公告', '结果公告', '中标候选人公示', '评标结果公示', '公共资源', '交易中心', '中标', '成交', '定标', '投标报价', '中标金额', '成交金额', '合同金额', '万元', '亿元'],\n  technology: ['microled', 'mini led', 'mini-led', 'cob', 'gan', 'driver ic', '封装', '显示技术', 'oled', '无源', '微间距'],\n  regulation: ['standard', 'regulation', 'policy', 'compliance', '认证', '标准', '法规', '条例', '能效', 'policy update'],\n  integration: ['smart city', '平台', 'system', 'solution', '集成', '可视化', 'iot', '控制平台', 'digital twin', '城市'],\n  supply: ['供应链', '封装', '晶圆', '代工', '产能', '涨价', 'cost', 'price'],\n  'cn-market': ['cn-market', '国内', '中国市场', 'cn'],\n  official: ['official', 'press release', '新闻稿', '品牌资讯', '官网'],\n  'smart-city': ['smart city', '智慧城市', '智慧交通', '数字孪生', 'smart-city']\n};\n\nconst tokenize = (text) => (text || '').toString().toLowerCase();\n\nconst normalizeSet = (values = []) => {\n  const set = new Set();\n  values.forEach((val) => {\n    if (typeof val === 'string' && val.trim()) {\n      set.add(val.trim().toLowerCase());\n    }\n  });\n  return set;\n};\n\nconst determineSection = (article, matchedTags, loweredText) => {\n  const explicit = (article.category || article.sectionId || '').toString().toLowerCase();\n  if (knownSections.has(explicit)) {\n    return explicit;\n  }\n  if (matchedTags.has('cn-market')) {\n    return 'market';\n  }\n  if (matchedTags.has('smart-city')) {\n    return 'integration';\n  }\n  if (matchedTags.has('competitor') || matchedTags.has('capital') || /competitor|竞品|品牌/.test(loweredText)) {\n    return 'competitive';\n  }\n  if (matchedTags.has('market') || /订单|招标|市场|market|deployment/.test(loweredText)) {\n    return 'market';\n  }\n  if (matchedTags.has('regulation') || /法规|标准|合规|policy|regulation|认证/.test(loweredText)) {\n    return 'regulation';\n  }\n  if (matchedTags.has('integration') || /smart city|智慧城市|平台|系统|solution|集成/.test(loweredText)) {\n    return 'integration';\n  }\n  return 'technology';\n};\n\nconst tenderMinTotalCny = 1000000;\nconst tenderExcludeRe = /(预算|最高限价|控制价|招标控制价|概算|估算|上限)/;\nconst tenderIncludeRe = /(中标|成交|定标|合同|投标|报价|候选人)/;\nconst tenderCandidateRe = /(中标候选人公示|评标结果公示|候选人)/;\n\nconst parseMoneyMatches = (text = '') => {\n  const matches = [];\n  const raw = (text || '').toString();\n  const regex = /(?:人民币|RMB|CNY|￥|¥)?\\s*([0-9]{1,3}(?:,[0-9]{3})*(?:\\.[0-9]+)?|[0-9]+(?:\\.[0-9]+)?)\\s*(亿元|万元|万|元)/g;\n  let match;\n  while ((match = regex.exec(raw)) !== null) {\n    const numberRaw = match[1] || '';\n    const unit = match[2] || '元';\n    const value = Number(numberRaw.replace(/,/g, ''));\n    if (!Number.isFinite(value)) continue;\n    const multiplier = unit === '亿元' ? 100000000 : ((unit === '万元' || unit === '万') ? 10000 : 1);\n    matches.push({\n      index: match.index,\n      raw: match[0],\n      unit,\n      value,\n      cny: value * multiplier\n    });\n  }\n  return matches;\n};\n\nconst extractTenderTotalCny = (textBlob = '', kind = 'final') => {\n  const text = (textBlob || '').toString();\n  const matches = parseMoneyMatches(text);\n  if (!matches.length) return null;\n\n  const accepted = [];\n  const preferred = [];\n\n  for (const entry of matches) {\n    const start = Math.max(0, entry.index - 24);\n    const end = Math.min(text.length, entry.index + 64);\n    const context = text.slice(start, end);\n\n    if (tenderExcludeRe.test(context)) continue;\n    if (!tenderIncludeRe.test(context)) continue;\n\n    accepted.push({ ...entry, context });\n\n    if (kind === 'candidate') {\n      if (/第一|首选|推荐|候选/.test(context)) {\n        preferred.push({ ...entry, context });\n      }\n    }\n\n    if (/(总价|总金额|合计|中标总价|成交总价|合同总价)/.test(context)) {\n      preferred.push({ ...entry, context });\n    }\n  }\n\n  if (!accepted.length) return null;\n\n  if (kind === 'candidate') {\n    const pool = preferred.length ? preferred : accepted;\n    const top = pool.reduce((best, cur) => (cur.cny > best.cny ? cur : best), pool[0]);\n    return {\n      totalCny: top.cny,\n      snippets: [top.context.slice(0, 120)]\n    };\n  }\n\n  if (preferred.length) {\n    const top = preferred.reduce((best, cur) => (cur.cny > best.cny ? cur : best), preferred[0]);\n    return {\n      totalCny: top.cny,\n      snippets: [top.context.slice(0, 120)]\n    };\n  }\n\n  const sum = accepted.reduce((acc, cur) => acc + cur.cny, 0);\n  const snippets = accepted.slice(0, 3).map((m) => m.context.slice(0, 120));\n  return {\n    totalCny: sum,\n    snippets\n  };\n};\n\nconst seen = new Set();\nconst categoryBuckets = new Map();\nconst processed = [];\n\nfor (const article of articles) {\n  const textBlob = `${article.title || ''} ${article.description || ''}`;\n  const lowered = tokenize(textBlob);\n  const matchedTags = normalizeSet(article.labels);\n  const initialTags = normalizeSet(article.matchedTags);\n  initialTags.forEach((tag) => matchedTags.add(tag));\n\n  for (const [bucket, keywords] of Object.entries(keywordSets)) {\n    if (keywords.some((kw) => lowered.includes(kw))) {\n      matchedTags.add(bucket);\n    }\n  }\n\n  const publishedDate = (() => {\n    if (article.publishedAt && !Number.isNaN(Date.parse(article.publishedAt))) {\n      return new Date(article.publishedAt);\n    }\n    if (article.publishedRaw && !Number.isNaN(Date.parse(article.publishedRaw))) {\n      return new Date(article.publishedRaw);\n    }\n    return new Date(now.getTime());\n  })();\n\n  if (publishedDate < cutoff) {\n    continue;\n  }\n\n  const resolvedLink = (article.link || article.url || article.sourceUrl || article.feedUrl || '').toString();\n  const linkKey = resolvedLink.trim().toLowerCase();\n  const fallbackKey = [\n    (article.title || '').trim().toLowerCase(),\n    article.source || '',\n    publishedDate.toISOString().slice(0, 10)\n  ].join('|');\n  const uniqueKey = linkKey || fallbackKey;\n  if (!uniqueKey.trim() || seen.has(uniqueKey)) {\n    continue;\n  }\n  const explicitCategory = (article.category || article.sectionId || '').toString().toLowerCase();\n  let tenderMeta = null;\n  if (explicitCategory === 'tender-cn') {\n    const kind = tenderCandidateRe.test(textBlob) ? 'candidate' : 'final';\n    const amount = extractTenderTotalCny(textBlob, kind);\n    if (!amount || !Number.isFinite(amount.totalCny) || amount.totalCny < tenderMinTotalCny) {\n      continue;\n    }\n    tenderMeta = {\n      kind,\n      totalCny: amount.totalCny,\n      snippets: amount.snippets\n    };\n    matchedTags.add('tender-cn');\n    matchedTags.add(kind === 'candidate' ? 'candidate' : 'final');\n  }\n\n  seen.add(uniqueKey);\n\n  let score = Number.isFinite(article.weight) ? Number(article.weight) : 5;\n  if ((article.category || '').toLowerCase() === 'policy_regulation') score += 2;\n  if ((article.category || '').toLowerCase() === 'tech_breakthroughs') score += 1.5;\n\n  if (/融资|上市|并购|acquisition|investment/.test(textBlob)) {\n    score += 1.2;\n    matchedTags.add('capital');\n  }\n\n  if (matchedTags.has('competitor')) {\n    score += 1.5;\n  }\n  if (matchedTags.has('official')) {\n    score += 0.8;\n  }\n  if (matchedTags.has('cn-market') || matchedTags.has('cn')) {\n    score += 0.7;\n  }\n  if (matchedTags.has('smart-city')) {\n    score += 0.6;\n  }\n\n  matchedTags.forEach((tag) => {\n    if (keywordSets[tag]) {\n      score += 1.1;\n    }\n  });\n\n  const categoryKey = determineSection(article, matchedTags, lowered);\n  const sectionTitle = knownSections.get(categoryKey) || knownSections.get('technology');\n\n  const enriched = {\n    ...article,\n    category: categoryKey,\n    sectionTitle,\n    score,\n    matchedTags: Array.from(matchedTags),\n    publishedAt: publishedDate.toISOString(),\n    ageHours: (now.getTime() - publishedDate.getTime()) / 36e5,\n    resolvedLink,\n    ...(tenderMeta ? {\n      tenderKind: tenderMeta.kind,\n      tenderTotalAmountCny: tenderMeta.totalCny,\n      tenderAmountSnippets: tenderMeta.snippets\n    } : {})\n  };\n\n  if (!categoryBuckets.has(categoryKey)) {\n    categoryBuckets.set(categoryKey, []);\n  }\n  categoryBuckets.get(categoryKey).push(enriched);\n  processed.push(enriched);\n}\n\nconst shortlist = [];\nconst appendix = [];\nconst perCategoryLimit = Number.isFinite(input.perCategoryLimit) ? input.perCategoryLimit : 5;\n\nfor (const [category, list] of categoryBuckets.entries()) {\n  const sorted = list.sort((a, b) => b.score - a.score || new Date(b.publishedAt) - new Date(a.publishedAt));\n  shortlist.push(...sorted.slice(0, perCategoryLimit));\n  appendix.push(...sorted.slice(perCategoryLimit));\n}\n\nconst globalSorted = shortlist.sort((a, b) => b.score - a.score || new Date(b.publishedAt) - new Date(a.publishedAt));\n\nreturn [\n  {\n    json: {\n      runContext,\n      stats: {\n        totalFetched: articles.length,\n        afterFilter: processed.length,\n        shortlistCount: globalSorted.length,\n        appendixCount: appendix.length,\n        feedCount: input.feedCount || 0,\n        fetchedAt: input.fetchedAt,\n        diagnostics: {\n          sourcesChecked: sourcesStatus.length,\n          errorsCount: feedErrors.length\n        }\n      },\n      shortlist: globalSorted,\n      appendix,\n      generatedAt: now.toISOString(),\n      diagnostics: {\n        sources: sourcesStatus,\n        errors: feedErrors,\n        alerts\n      }\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst runContext = input.runContext || {};\nconst articles = Array.isArray(input.articles) ? input.articles : [];\nconst diagnosticsInput = input.diagnostics || {};\nconst feedErrors = Array.isArray(diagnosticsInput.errors) ? diagnosticsInput.errors : [];\nconst sourcesStatus = Array.isArray(diagnosticsInput.sources) ? diagnosticsInput.sources : [];\n\nconst alerts = [];\nif (!articles.length) {\n  alerts.push({\n    level: 'error',\n    code: 'NO_ARTICLES',\n    message: '本次抓取返回 0 条候选资讯，请检查资讯源或网络可达性。',\n    feedCount: input.feedCount || 0\n  });\n}\nif (feedErrors.length) {\n  alerts.push({\n    level: 'error',\n    code: 'FEED_ERRORS',\n    message: `共有 ${feedErrors.length} 个资讯源抓取失败。`\n  });\n}\n\nconst now = new Date();\nconst windowDays = Number.isFinite(input.windowDays) ? input.windowDays : 21;\nconst cutoff = new Date(now.getTime() - windowDays * 24 * 60 * 60 * 1000);\n\nconst knownSections = new Map([\n  ['market', '行业与市场动态'],\n  ['competitive', '竞品与重大项目'],\n  ['tender-cn', '工程中标/候选人（≥100万）'],\n  ['technology', '技术突破与材料工艺'],\n  ['regulation', '法规 / 标准 / 合规提醒'],\n  ['integration', '可集成方案与合作机会']\n]);\n\nconst keywordSets = {\n  market: ['market', 'marketshare', '订单', '签约', 'tender', '招标', '出货', 'deployment', '项目', 'ppp'],\n  competitive: ['competitor', 'unilumin', 'leyard', 'liantronics', 'absen', 'daktronics', '洲明', '联建', '雷士', '欧普', '三星', 'lg', 'signify', 'ams', 'official', 'press release', '新闻稿'],\n  'tender-cn': ['中标结果公告', '定标结果公告', '成交结果公告', '结果公告', '中标候选人公示', '评标结果公示', '公共资源', '交易中心', '中标', '成交', '定标', '投标报价', '中标金额', '成交金额', '合同金额', '万元', '亿元'],\n  technology: ['microled', 'mini led', 'mini-led', 'cob', 'gan', 'driver ic', '封装', '显示技术', 'oled', '无源', '微间距'],\n  regulation: ['standard', 'regulation', 'policy', 'compliance', '认证', '标准', '法规', '条例', '能效', 'policy update'],\n  integration: ['smart city', '平台', 'system', 'solution', '集成', '可视化', 'iot', '控制平台', 'digital twin', '城市'],\n  supply: ['供应链', '封装', '晶圆', '代工', '产能', '涨价', 'cost', 'price'],\n  'cn-market': ['cn-market', '国内', '中国市场', 'cn'],\n  official: ['official', 'press release', '新闻稿', '品牌资讯', '官网'],\n  'smart-city': ['smart city', '智慧城市', '智慧交通', '数字孪生', 'smart-city']\n};\n\nconst tokenize = (text) => (text || '').toString().toLowerCase();\n\nconst normalizeSet = (values = []) => {\n  const set = new Set();\n  values.forEach((val) => {\n    if (typeof val === 'string' && val.trim()) {\n      set.add(val.trim().toLowerCase());\n    }\n  });\n  return set;\n};\n\nconst determineSection = (article, matchedTags, loweredText) => {\n  const explicit = (article.category || article.sectionId || '').toString().toLowerCase();\n  if (knownSections.has(explicit)) {\n    return explicit;\n  }\n  if (matchedTags.has('cn-market')) {\n    return 'market';\n  }\n  if (matchedTags.has('smart-city')) {\n    return 'integration';\n  }\n  if (matchedTags.has('competitor') || matchedTags.has('capital') || /competitor|竞品|品牌/.test(loweredText)) {\n    return 'competitive';\n  }\n  if (matchedTags.has('market') || /订单|招标|市场|market|deployment/.test(loweredText)) {\n    return 'market';\n  }\n  if (matchedTags.has('regulation') || /法规|标准|合规|policy|regulation|认证/.test(loweredText)) {\n    return 'regulation';\n  }\n  if (matchedTags.has('integration') || /smart city|智慧城市|平台|系统|solution|集成/.test(loweredText)) {\n    return 'integration';\n  }\n  return 'technology';\n};\n\nconst tenderMinTotalCny = 1000000;\nconst tenderExcludeRe = /(预算|最高限价|控制价|招标控制价|概算|估算|上限)/;\nconst tenderIncludeRe = /(中标|成交|定标|合同|投标|报价|候选人)/;\nconst tenderCandidateRe = /(中标候选人公示|评标结果公示|候选人)/;\n\nconst parseMoneyMatches = (text = '') => {\n  const matches = [];\n  const raw = (text || '').toString();\n  const regex = /(?:人民币|RMB|CNY|￥|¥)?\\s*([0-9]{1,3}(?:,[0-9]{3})*(?:\\.[0-9]+)?|[0-9]+(?:\\.[0-9]+)?)\\s*(亿元|万元|万|元)/g;\n  let match;\n  while ((match = regex.exec(raw)) !== null) {\n    const numberRaw = match[1] || '';\n    const unit = match[2] || '元';\n    const value = Number(numberRaw.replace(/,/g, ''));\n    if (!Number.isFinite(value)) continue;\n    const multiplier = unit === '亿元' ? 100000000 : ((unit === '万元' || unit === '万') ? 10000 : 1);\n    matches.push({\n      index: match.index,\n      raw: match[0],\n      unit,\n      value,\n      cny: value * multiplier\n    });\n  }\n  return matches;\n};\n\nconst extractTenderTotalCny = (textBlob = '', kind = 'final') => {\n  const text = (textBlob || '').toString();\n  const matches = parseMoneyMatches(text);\n  if (!matches.length) return null;\n\n  const accepted = [];\n  const preferred = [];\n\n  for (const entry of matches) {\n    const start = Math.max(0, entry.index - 24);\n    const end = Math.min(text.length, entry.index + 64);\n    const context = text.slice(start, end);\n\n    if (tenderExcludeRe.test(context)) continue;\n    if (!tenderIncludeRe.test(context)) continue;\n\n    accepted.push({ ...entry, context });\n\n    if (kind === 'candidate') {\n      if (/第一|首选|推荐|候选/.test(context)) {\n        preferred.push({ ...entry, context });\n      }\n    }\n\n    if (/(总价|总金额|合计|中标总价|成交总价|合同总价)/.test(context)) {\n      preferred.push({ ...entry, context });\n    }\n  }\n\n  if (!accepted.length) return null;\n\n  if (kind === 'candidate') {\n    const pool = preferred.length ? preferred : accepted;\n    const top = pool.reduce((best, cur) => (cur.cny > best.cny ? cur : best), pool[0]);\n    return {\n      totalCny: top.cny,\n      snippets: [top.context.slice(0, 120)]\n    };\n  }\n\n  if (preferred.length) {\n    const top = preferred.reduce((best, cur) => (cur.cny > best.cny ? cur : best), preferred[0]);\n    return {\n      totalCny: top.cny,\n      snippets: [top.context.slice(0, 120)]\n    };\n  }\n\n  const sum = accepted.reduce((acc, cur) => acc + cur.cny, 0);\n  const snippets = accepted.slice(0, 3).map((m) => m.context.slice(0, 120));\n  return {\n    totalCny: sum,\n    snippets\n  };\n};\n\nconst seen = new Set();\nconst categoryBuckets = new Map();\nconst processed = [];\n\nfor (const article of articles) {\n  const textBlob = `${article.title || ''} ${article.description || ''}`;\n  const lowered = tokenize(textBlob);\n  const matchedTags = normalizeSet(article.labels);\n  const initialTags = normalizeSet(article.matchedTags);\n  initialTags.forEach((tag) => matchedTags.add(tag));\n\n  for (const [bucket, keywords] of Object.entries(keywordSets)) {\n    if (keywords.some((kw) => lowered.includes(kw))) {\n      matchedTags.add(bucket);\n    }\n  }\n\n  const publishedDate = (() => {\n    if (article.publishedAt && !Number.isNaN(Date.parse(article.publishedAt))) {\n      return new Date(article.publishedAt);\n    }\n    if (article.publishedRaw && !Number.isNaN(Date.parse(article.publishedRaw))) {\n      return new Date(article.publishedRaw);\n    }\n    return new Date(now.getTime());\n  })();\n\n  if (publishedDate < cutoff) {\n    continue;\n  }\n\n  const resolvedLink = (article.link || article.url || article.sourceUrl || article.feedUrl || '').toString();\n  const linkKey = resolvedLink.trim().toLowerCase();\n  const fallbackKey = [\n    (article.title || '').trim().toLowerCase(),\n    article.source || '',\n    publishedDate.toISOString().slice(0, 10)\n  ].join('|');\n  const uniqueKey = linkKey || fallbackKey;\n  if (!uniqueKey.trim() || seen.has(uniqueKey)) {\n    continue;\n  }\n  const explicitCategory = (article.category || article.sectionId || '').toString().toLowerCase();\n  let tenderMeta = null;\n  if (explicitCategory === 'tender-cn') {\n    const kind = tenderCandidateRe.test(textBlob) ? 'candidate' : 'final';\n    const amount = extractTenderTotalCny(textBlob, kind);\n    if (!amount || !Number.isFinite(amount.totalCny) || amount.totalCny < tenderMinTotalCny) {\n      continue;\n    }\n    tenderMeta = {\n      kind,\n      totalCny: amount.totalCny,\n      snippets: amount.snippets\n    };\n    matchedTags.add('tender-cn');\n    matchedTags.add(kind === 'candidate' ? 'candidate' : 'final');\n  }\n\n  seen.add(uniqueKey);\n\n  let score = Number.isFinite(article.weight) ? Number(article.weight) : 5;\n  if ((article.category || '').toLowerCase() === 'policy_regulation') score += 2;\n  if ((article.category || '').toLowerCase() === 'tech_breakthroughs') score += 1.5;\n\n  if (/融资|上市|并购|acquisition|investment/.test(textBlob)) {\n    score += 1.2;\n    matchedTags.add('capital');\n  }\n\n  if (matchedTags.has('competitor')) {\n    score += 1.5;\n  }\n  if (matchedTags.has('official')) {\n    score += 0.8;\n  }\n  if (matchedTags.has('cn-market') || matchedTags.has('cn')) {\n    score += 0.7;\n  }\n  if (matchedTags.has('smart-city')) {\n    score += 0.6;\n  }\n\n  matchedTags.forEach((tag) => {\n    if (keywordSets[tag]) {\n      score += 1.1;\n    }\n  });\n\n  const categoryKey = determineSection(article, matchedTags, lowered);\n  const sectionTitle = knownSections.get(categoryKey) || knownSections.get('technology');\n\n  const enriched = {\n    ...article,\n    category: categoryKey,\n    sectionTitle,\n    score,\n    matchedTags: Array.from(matchedTags),\n    publishedAt: publishedDate.toISOString(),\n    ageHours: (now.getTime() - publishedDate.getTime()) / 36e5,\n    resolvedLink,\n    ...(tenderMeta ? {\n      tenderKind: tenderMeta.kind,\n      tenderTotalAmountCny: tenderMeta.totalCny,\n      tenderAmountSnippets: tenderMeta.snippets\n    } : {})\n  };\n\n  if (!categoryBuckets.has(categoryKey)) {\n    categoryBuckets.set(categoryKey, []);\n  }\n  categoryBuckets.get(categoryKey).push(enriched);\n  processed.push(enriched);\n}\n\nconst shortlist = [];\nconst appendix = [];\nconst perCategoryLimit = Number.isFinite(input.perCategoryLimit) ? input.perCategoryLimit : 5;\n\nfor (const [category, list] of categoryBuckets.entries()) {\n  const sorted = list.sort((a, b) => b.score - a.score || new Date(b.publishedAt) - new Date(a.publishedAt));\n  shortlist.push(...sorted.slice(0, perCategoryLimit));\n  appendix.push(...sorted.slice(perCategoryLimit));\n}\n\nconst globalSorted = shortlist.sort((a, b) => b.score - a.score || new Date(b.publishedAt) - new Date(a.publishedAt));\n\nreturn [\n  {\n    json: {\n      runContext,\n      stats: {\n        totalFetched: articles.length,\n        afterFilter: processed.length,\n        shortlistCount: globalSorted.length,\n        appendixCount: appendix.length,\n        feedCount: input.feedCount || 0,\n        fetchedAt: input.fetchedAt,\n        diagnostics: {\n          sourcesChecked: sourcesStatus.length,\n          errorsCount: feedErrors.length\n        }\n      },\n      shortlist: globalSorted,\n      appendix,\n      generatedAt: now.toISOString(),\n      diagnostics: {\n        sources: sourcesStatus,\n        errors: feedErrors,\n        alerts\n      }\n    }\n  }\n];"
      },
      "id": "CA5E567B-3F2C-494E-B88A-8102B635FD99",
      "name": "Score & Split",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst shortlist = Array.isArray(input.shortlist) ? input.shortlist : [];\nconst appendix = Array.isArray(input.appendix) ? input.appendix : [];\nconst stats = input.stats || {};\n\nconst shortlistLimit = 80;\nconst appendixLimit = 200;\n\nconst topShortlist = shortlist.slice(0, shortlistLimit);\nconst appendixExcerpt = appendix.slice(0, appendixLimit);\n\nconst formatEntry = (entry, index) => {\n  const dateText = entry.publishedAt ? entry.publishedAt.slice(0, 10) : '未知日期';\n  const title = (entry.title || '(未命名)').replace(/\\s+/g, ' ').trim();\n  const highlight = entry.description ? entry.description.slice(0, 240) : '';\n  const link = entry.resolvedLink || entry.link || entry.source?.link || '';\n  const category = entry.category || 'uncategorized';\n  const score = typeof entry.score === 'number' ? Number(entry.score).toFixed(2) : '';\n  const labels = Array.isArray(entry.labels) && entry.labels.length ? entry.labels.join(', ') : '';\n  const tags = Array.isArray(entry.matchedTags) && entry.matchedTags.length ? entry.matchedTags.join(', ') : '';\n  const tenderTotal = Number.isFinite(entry.tenderTotalAmountCny) ? entry.tenderTotalAmountCny : null;\n  const tenderKind = entry.tenderKind || '';\n  const tenderLine = tenderTotal !== null\n    ? `   - 工程金额（解析，总额）：${(tenderTotal / 10000).toFixed(2)} 万元 | 类型：${tenderKind === 'candidate' ? '候选人公示' : '最终结果'}`\n    : '';\n  const lines = [\n    `${index + 1}. [${category}] ${title} (${dateText})`,\n    score ? `   - Score: ${score}` : '',\n    labels ? `   - Labels: ${labels}` : '',\n    tags ? `   - Matched tags: ${tags}` : '',\n    tenderLine,\n    link ? `   - Link: ${link}` : '',\n    highlight ? `   - Snippet: ${highlight}` : ''\n  ].filter(Boolean);\n  return lines.join('\\n');\n};\n\nconst shortlistBlock = topShortlist.map((entry, idx) => formatEntry(entry, idx)).join('\\n') || '(本周暂无重点候选资讯)';\nconst appendixBlock = appendixExcerpt.map((entry, idx) => formatEntry(entry, idx)).join('\\n') || '(暂无附录资讯)';\nconst statsJson = JSON.stringify(stats, null, 2) || '{}';\nconst generatedAt = input.generatedAt || new Date().toISOString();\nconst trigger = input.runContext?.trigger || 'unknown';\n\nconst schemaDescription = `{\n  \"meta\": {\n    \"reportTitle\": \"Sansi LED 行业情报周报\",\n    \"generatedAt\": \"ISO-8601 时间字符串\",\n    \"timezone\": \"示例：Asia/Shanghai\",\n    \"trigger\": \"scheduled | manual\",\n    \"runStats\": {\n      \"totalFetched\": 数字,\n      \"afterFilter\": 数字,\n      \"shortlistCount\": 数字,\n      \"appendixCount\": 数字,\n      \"feedCount\": 数字,\n      \"notes\": \"可选补充\"\n    }\n  },\n  \"sections\": [\n    {\n      \"id\": \"market\",\n      \"title\": \"行业与市场动态\",\n      \"items\": [\n        {\n          \"headline\": \"一句话标题\",\n          \"labels\": [\"标签1\", \"标签2\"],\n          \"summary\": \"只补充标题未提及但对决策重要的信息，避免重复\",\n          \"impact\": \"突出对客户/市场/竞品差异的影响，尽量引用关键量化信息\",\n          \"quantHighlights\": [\"营收同比+18%\", \"交付周期缩短30%\"],\n          \"actions\": [\"建议动作1\"],\n          \"source\": {\n            \"title\": \"原文标题\",\n            \"link\": \"https://example.com\",\n            \"publishedAt\": \"2025-10-18\",\n            \"sourceName\": \"来源名称\",\n            \"category\": \"来自候选的分类\",\n            \"score\": 数字\n          }\n        }\n      ]\n    }\n  ],\n  \"risks\": [\n    {\n      \"category\": \"业务 | 技术 | 政策\",\n      \"description\": \"重点风险或机会\",\n      \"action\": \"下一步动作建议\",\n      \"quantHighlights\": [\"涉及金额1.2亿人民币\"]\n    }\n  ],\n  \"newsIndex\": [\n    {\n      \"category\": \"所属章节/原分类\",\n      \"title\": \"资讯标题\",\n      \"publishedAt\": \"2025-10-18\",\n      \"source\": \"来源名称\",\n      \"highlight\": \"一句话亮点\",\n      \"link\": \"https://example.com\",\n      \"labels\": [\"标签1\", \"标签2\"],\n      \"score\": 数字\n    }\n  ],\n  \"notes\": {\n    \"dataSources\": \"公开 RSS / 动态搜索等，自动聚合\",\n    \"comments\": \"可选补充\"\n  }\n}`;\n\nconst examplePayload = {\n  meta: {\n    reportTitle: 'Sansi LED 行业情报周报',\n    generatedAt,\n    timezone: 'Asia/Shanghai',\n    trigger,\n    runStats: {\n      ...stats,\n      notes: '示例：RSS + 动态搜索源整合'\n    }\n  },\n  sections: [\n    {\n      id: 'market',\n      title: '行业与市场动态',\n      items: [\n        {\n          headline: '东南亚智慧城市批量采购全彩 LED 墙',\n          labels: ['smart city', '海外'],\n          summary: '泰国、越南两座智慧城市同期开标，全彩 LED 墙与控制平台绑定交付，单体项目超 1.5 亿人民币。',\n          impact: '客户更倾向打包显示+平台方案；需要强化我们在海外场景的可视化与环保认证优势。',\n          quantHighlights: ['项目金额 1.5 亿人民币', '交付周期 9 个月'],\n          actions: ['与当地 EPC 合作伙伴确认 demo 案例', '对比竞品在亮度与能效指标的差异'],\n          source: {\n            title: 'ASEAN Smart City Orders LED Walls',\n            link: 'https://example.com/asean-led-wall',\n            publishedAt: generatedAt.slice(0, 10),\n            sourceName: 'Example News',\n            category: 'market',\n            score: 7.4\n          }\n        }\n      ]\n    }\n  ],\n  risks: [\n    {\n      category: '技术',\n      description: 'Mini/Micro LED COB 产线本月良率跌至 92%，若持续可能推高成本。',\n      action: '安排工艺团队针对 COB 器件做良率复盘，并评估是否需要外协备份。',\n      quantHighlights: ['良率 92%','单片成本 +8%']\n    },\n    {\n      category: '政策',\n      description: '欧盟即将执行道路照明 EN13201:2024 版本，新标对光效与眩光提出更严格要求。',\n      action: '与欧盟渠道沟通认证计划，更新路灯产品参数表。',\n      quantHighlights: ['光效需 ≥ 160 lm/W']\n    }\n  ],\n  newsIndex: [\n    {\n      category: 'market',\n      title: 'ASEAN Smart City Orders LED Walls',\n      publishedAt: generatedAt.slice(0, 10),\n      source: 'Example News',\n      highlight: '两座智慧城市同步签约 LED 墙与控制平台。',\n      link: 'https://example.com/asean-led-wall',\n      labels: ['smart city','海外'],\n      score: 7.4\n    }\n  ],\n  notes: {\n    dataSources: '公开 RSS / Google News 搜索等，自动聚合生成，仅供内部参考',\n    comments: ''\n  }\n};\n\nconst exampleJson = JSON.stringify(examplePayload, null, 2);\n\nconst promptLines = [\n  '# 角色',\n  '你是三思市场部与研发部联合的行业情报分析师，需要根据候选资讯撰写 LED 显示 / 照明 / 系统集成行业的每周中文周报。',\n  '',\n  '## 严格输出要求',\n  '- 仅输出一个 JSON 对象，禁止额外解释、Markdown 或自然语言。',\n  '- JSON 必须满足以下结构：',\n  '```json',\n  schemaDescription,\n  '```',\n  '- `sections` 仅在有资讯时才输出该章节，顺序需遵循以下优先级（遇到无内容的章节请直接省略）：',\n  '  1. 行业与市场动态 (id: market)',\n  '  2. 工程中标/候选人（≥100万） (id: tender-cn)',\n  '  3. 竞品与重大项目 (id: competitive)',\n  '  4. 技术突破与材料工艺 (id: technology)',\n  '  5. 法规 / 标准 / 合规提醒 (id: regulation)',\n  '  6. 可集成方案与合作机会 (id: integration)',\n  '- 每个章节的 `items` 最多 5 条；若无资讯请完全省略该章节，禁止输出占位或空白说明。',\n  '- `summary` 仅补充标题未提及但对业务决策重要的信息，禁止与标题重复。',\n  '- `impact` 聚焦客户/市场/竞品差异，优先引用关键量化信息。',\n  '- 若发现关键数字（成本、价格、数量、效率等），放入 `quantHighlights`，保留原单位。',\n  '- `actions` 建议需结合三思现有产品差异（亮度、色彩准确度、色域、能效、稳定性、环境适应性、响应速度等），避免空泛口号。',\n  '- `labels` 使用 1-4 个英文或拼音标签，便于后续检索。',\n  '- `newsIndex` 中的标题需附带链接。',\n  '- 工程中标/候选人章节仅收录总金额（解析）≥100万人民币的条目；金额写入 `quantHighlights` 并注明“候选/最终”。',\n  '',\n  '## 输入上下文',\n  `- 运行统计：${statsJson}`,\n  `- 当前时间：${generatedAt}`,\n  `- 触发方式：${trigger}`,\n  '- 重点候选资讯（按优先级排序）：',\n  shortlistBlock,\n  '- 附加资讯清单（用于资讯索引）：',\n  appendixBlock,\n  '',\n  '## 写作指南',\n  '- 先融合同主题资讯，避免重复。',\n  '- 每个章节仅保留影响力最高的 5 条资讯。',\n  '- 摘要回答“标题之外还有什么必须知道？”',\n  '- 影响与建议重点说明对客户/渠道/竞品/产品的具体影响，若无量化依据请给出判断逻辑。',\n  '- 建议中指出三思与竞品的差异点或可验证假设。',\n  '- 若资讯涉及法规/标准/合规，`impact` 结尾添加 \"【合规重点】\"。',\n  '- 重要数字请保留单位与时间信息。',\n  '',\n  '## 示例',\n  '```json',\n  exampleJson,\n  '```',\n  '',\n  '请基于输入数据返回最终 JSON。'\n];\n\nconst prompt = promptLines.join('\\n');\n\nreturn [\n  {\n    json: {\n      runContext: input.runContext || {},\n      stats,\n      statsJson,\n      shortlist: topShortlist,\n      shortlistBlock,\n      appendix: appendixExcerpt,\n      appendixBlock,\n      generatedAt,\n      trigger,\n      prompt,\n      promptFragments: {\n        shortlistBlock,\n        appendixBlock,\n        schemaDescription,\n        exampleJson\n      }\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst shortlist = Array.isArray(input.shortlist) ? input.shortlist : [];\nconst appendix = Array.isArray(input.appendix) ? input.appendix : [];\nconst stats = input.stats || {};\n\nconst shortlistLimit = 80;\nconst appendixLimit = 200;\n\nconst topShortlist = shortlist.slice(0, shortlistLimit);\nconst appendixExcerpt = appendix.slice(0, appendixLimit);\n\nconst formatEntry = (entry, index) => {\n  const dateText = entry.publishedAt ? entry.publishedAt.slice(0, 10) : '未知日期';\n  const title = (entry.title || '(未命名)').replace(/\\s+/g, ' ').trim();\n  const highlight = entry.description ? entry.description.slice(0, 240) : '';\n  const link = entry.resolvedLink || entry.link || entry.source?.link || '';\n  const category = entry.category || 'uncategorized';\n  const score = typeof entry.score === 'number' ? Number(entry.score).toFixed(2) : '';\n  const labels = Array.isArray(entry.labels) && entry.labels.length ? entry.labels.join(', ') : '';\n  const tags = Array.isArray(entry.matchedTags) && entry.matchedTags.length ? entry.matchedTags.join(', ') : '';\n  const tenderTotal = Number.isFinite(entry.tenderTotalAmountCny) ? entry.tenderTotalAmountCny : null;\n  const tenderKind = entry.tenderKind || '';\n  const tenderLine = tenderTotal !== null\n    ? `   - 工程金额（解析，总额）：${(tenderTotal / 10000).toFixed(2)} 万元 | 类型：${tenderKind === 'candidate' ? '候选人公示' : '最终结果'}`\n    : '';\n  const lines = [\n    `${index + 1}. [${category}] ${title} (${dateText})`,\n    score ? `   - Score: ${score}` : '',\n    labels ? `   - Labels: ${labels}` : '',\n    tags ? `   - Matched tags: ${tags}` : '',\n    tenderLine,\n    link ? `   - Link: ${link}` : '',\n    highlight ? `   - Snippet: ${highlight}` : ''\n  ].filter(Boolean);\n  return lines.join('\\n');\n};\n\nconst shortlistBlock = topShortlist.map((entry, idx) => formatEntry(entry, idx)).join('\\n') || '(本周暂无重点候选资讯)';\nconst appendixBlock = appendixExcerpt.map((entry, idx) => formatEntry(entry, idx)).join('\\n') || '(暂无附录资讯)';\nconst statsJson = JSON.stringify(stats, null, 2) || '{}';\nconst generatedAt = input.generatedAt || new Date().toISOString();\nconst trigger = input.runContext?.trigger || 'unknown';\n\nconst schemaDescription = `{\n  \"meta\": {\n    \"reportTitle\": \"Sansi LED 行业情报周报\",\n    \"generatedAt\": \"ISO-8601 时间字符串\",\n    \"timezone\": \"示例：Asia/Shanghai\",\n    \"trigger\": \"scheduled | manual\",\n    \"runStats\": {\n      \"totalFetched\": 数字,\n      \"afterFilter\": 数字,\n      \"shortlistCount\": 数字,\n      \"appendixCount\": 数字,\n      \"feedCount\": 数字,\n      \"notes\": \"可选补充\"\n    }\n  },\n  \"sections\": [\n    {\n      \"id\": \"market\",\n      \"title\": \"行业与市场动态\",\n      \"items\": [\n        {\n          \"headline\": \"一句话标题\",\n          \"labels\": [\"标签1\", \"标签2\"],\n          \"summary\": \"只补充标题未提及但对决策重要的信息，避免重复\",\n          \"impact\": \"突出对客户/市场/竞品差异的影响，尽量引用关键量化信息\",\n          \"quantHighlights\": [\"营收同比+18%\", \"交付周期缩短30%\"],\n          \"actions\": [\"建议动作1\"],\n          \"source\": {\n            \"title\": \"原文标题\",\n            \"link\": \"https://example.com\",\n            \"publishedAt\": \"2025-10-18\",\n            \"sourceName\": \"来源名称\",\n            \"category\": \"来自候选的分类\",\n            \"score\": 数字\n          }\n        }\n      ]\n    }\n  ],\n  \"risks\": [\n    {\n      \"category\": \"业务 | 技术 | 政策\",\n      \"description\": \"重点风险或机会\",\n      \"action\": \"下一步动作建议\",\n      \"quantHighlights\": [\"涉及金额1.2亿人民币\"]\n    }\n  ],\n  \"newsIndex\": [\n    {\n      \"category\": \"所属章节/原分类\",\n      \"title\": \"资讯标题\",\n      \"publishedAt\": \"2025-10-18\",\n      \"source\": \"来源名称\",\n      \"highlight\": \"一句话亮点\",\n      \"link\": \"https://example.com\",\n      \"labels\": [\"标签1\", \"标签2\"],\n      \"score\": 数字\n    }\n  ],\n  \"notes\": {\n    \"dataSources\": \"公开 RSS / 动态搜索等，自动聚合\",\n    \"comments\": \"可选补充\"\n  }\n}`;\n\nconst examplePayload = {\n  meta: {\n    reportTitle: 'Sansi LED 行业情报周报',\n    generatedAt,\n    timezone: 'Asia/Shanghai',\n    trigger,\n    runStats: {\n      ...stats,\n      notes: '示例：RSS + 动态搜索源整合'\n    }\n  },\n  sections: [\n    {\n      id: 'market',\n      title: '行业与市场动态',\n      items: [\n        {\n          headline: '东南亚智慧城市批量采购全彩 LED 墙',\n          labels: ['smart city', '海外'],\n          summary: '泰国、越南两座智慧城市同期开标，全彩 LED 墙与控制平台绑定交付，单体项目超 1.5 亿人民币。',\n          impact: '客户更倾向打包显示+平台方案；需要强化我们在海外场景的可视化与环保认证优势。',\n          quantHighlights: ['项目金额 1.5 亿人民币', '交付周期 9 个月'],\n          actions: ['与当地 EPC 合作伙伴确认 demo 案例', '对比竞品在亮度与能效指标的差异'],\n          source: {\n            title: 'ASEAN Smart City Orders LED Walls',\n            link: 'https://example.com/asean-led-wall',\n            publishedAt: generatedAt.slice(0, 10),\n            sourceName: 'Example News',\n            category: 'market',\n            score: 7.4\n          }\n        }\n      ]\n    }\n  ],\n  risks: [\n    {\n      category: '技术',\n      description: 'Mini/Micro LED COB 产线本月良率跌至 92%，若持续可能推高成本。',\n      action: '安排工艺团队针对 COB 器件做良率复盘，并评估是否需要外协备份。',\n      quantHighlights: ['良率 92%','单片成本 +8%']\n    },\n    {\n      category: '政策',\n      description: '欧盟即将执行道路照明 EN13201:2024 版本，新标对光效与眩光提出更严格要求。',\n      action: '与欧盟渠道沟通认证计划，更新路灯产品参数表。',\n      quantHighlights: ['光效需 ≥ 160 lm/W']\n    }\n  ],\n  newsIndex: [\n    {\n      category: 'market',\n      title: 'ASEAN Smart City Orders LED Walls',\n      publishedAt: generatedAt.slice(0, 10),\n      source: 'Example News',\n      highlight: '两座智慧城市同步签约 LED 墙与控制平台。',\n      link: 'https://example.com/asean-led-wall',\n      labels: ['smart city','海外'],\n      score: 7.4\n    }\n  ],\n  notes: {\n    dataSources: '公开 RSS / Google News 搜索等，自动聚合生成，仅供内部参考',\n    comments: ''\n  }\n};\n\nconst exampleJson = JSON.stringify(examplePayload, null, 2);\n\nconst promptLines = [\n  '# 角色',\n  '你是三思市场部与研发部联合的行业情报分析师，需要根据候选资讯撰写 LED 显示 / 照明 / 系统集成行业的每周中文周报。',\n  '',\n  '## 严格输出要求',\n  '- 仅输出一个 JSON 对象，禁止额外解释、Markdown 或自然语言。',\n  '- JSON 必须满足以下结构：',\n  '```json',\n  schemaDescription,\n  '```',\n  '- `sections` 仅在有资讯时才输出该章节，顺序需遵循以下优先级（遇到无内容的章节请直接省略）：',\n  '  1. 行业与市场动态 (id: market)',\n  '  2. 工程中标/候选人（≥100万） (id: tender-cn)',\n  '  3. 竞品与重大项目 (id: competitive)',\n  '  4. 技术突破与材料工艺 (id: technology)',\n  '  5. 法规 / 标准 / 合规提醒 (id: regulation)',\n  '  6. 可集成方案与合作机会 (id: integration)',\n  '- 每个章节的 `items` 最多 5 条；若无资讯请完全省略该章节，禁止输出占位或空白说明。',\n  '- `summary` 仅补充标题未提及但对业务决策重要的信息，禁止与标题重复。',\n  '- `impact` 聚焦客户/市场/竞品差异，优先引用关键量化信息。',\n  '- 若发现关键数字（成本、价格、数量、效率等），放入 `quantHighlights`，保留原单位。',\n  '- `actions` 建议需结合三思现有产品差异（亮度、色彩准确度、色域、能效、稳定性、环境适应性、响应速度等），避免空泛口号。',\n  '- `labels` 使用 1-4 个英文或拼音标签，便于后续检索。',\n  '- `newsIndex` 中的标题需附带链接。',\n  '- 工程中标/候选人章节仅收录总金额（解析）≥100万人民币的条目；金额写入 `quantHighlights` 并注明“候选/最终”。',\n  '',\n  '## 输入上下文',\n  `- 运行统计：${statsJson}`,\n  `- 当前时间：${generatedAt}`,\n  `- 触发方式：${trigger}`,\n  '- 重点候选资讯（按优先级排序）：',\n  shortlistBlock,\n  '- 附加资讯清单（用于资讯索引）：',\n  appendixBlock,\n  '',\n  '## 写作指南',\n  '- 先融合同主题资讯，避免重复。',\n  '- 每个章节仅保留影响力最高的 5 条资讯。',\n  '- 摘要回答“标题之外还有什么必须知道？”',\n  '- 影响与建议重点说明对客户/渠道/竞品/产品的具体影响，若无量化依据请给出判断逻辑。',\n  '- 建议中指出三思与竞品的差异点或可验证假设。',\n  '- 若资讯涉及法规/标准/合规，`impact` 结尾添加 \"【合规重点】\"。',\n  '- 重要数字请保留单位与时间信息。',\n  '',\n  '## 示例',\n  '```json',\n  exampleJson,\n  '```',\n  '',\n  '请基于输入数据返回最终 JSON。'\n];\n\nconst prompt = promptLines.join('\\n');\n\nreturn [\n  {\n    json: {\n      runContext: input.runContext || {},\n      stats,\n      statsJson,\n      shortlist: topShortlist,\n      shortlistBlock,\n      appendix: appendixExcerpt,\n      appendixBlock,\n      generatedAt,\n      trigger,\n      prompt,\n      promptFragments: {\n        shortlistBlock,\n        appendixBlock,\n        schemaDescription,\n        exampleJson\n      }\n    }\n  }\n];"
      },
      "id": "BA5E955A-29E1-4C18-B77B-5247E0BC1C5A",
      "name": "Prepare Prompt payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        48
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {
          "temperature": 0.35
        }
      },
      "id": "E4538C7C-9AE8-4DC7-8BB8-961EEED9D332",
      "name": "OpenRouter GPT-5 mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        408,
        272
      ],
      "credentials": {
        "openRouterApi": {
          "id": "XV1sqh2GdIy4Daz1",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}"
      },
      "id": "D31CE310-D5DC-4908-9823-1032CBE3EFC0",
      "name": "Compile Weekly Briefing",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        336,
        48
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst report = input.report || {};\nconst stats = Object.keys(input.stats || {}).length ? input.stats : (report.meta?.runStats || {});\nconst runContext = input.runContext || {};\nconst meta = report.meta || {};\nconst sections = Array.isArray(report.sections) ? report.sections : [];\nconst risks = Array.isArray(report.risks) ? report.risks : [];\nconst newsIndex = Array.isArray(report.newsIndex) ? report.newsIndex : [];\nconst notes = report.notes || {};\n\nif (!Object.keys(report).length) {\n  throw new Error('缺少结构化报告数据（report）。');\n}\n\nconst timezone = meta.timezone || runContext.timezone || 'Asia/Shanghai';\nconst trigger = meta.trigger || runContext.trigger || 'unknown';\n\nconst formatDateTime = (iso) => {\n  if (!iso) return '未知时间';\n  const date = new Date(iso);\n  if (Number.isNaN(date.getTime())) return iso;\n  try {\n    return new Intl.DateTimeFormat('zh-CN', {\n      timeZone: timezone,\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    }).format(date);\n  } catch (error) {\n    return iso;\n  }\n};\n\nconst formatDate = (iso) => {\n  if (!iso) return '未知日期';\n  const date = new Date(iso);\n  if (Number.isNaN(date.getTime())) return iso;\n  return date.toISOString().slice(0, 10);\n};\n\nconst statsLine = [\n  `抓取总数：${stats.totalFetched ?? '-'}`,\n  `过滤后：${stats.afterFilter ?? '-'}`,\n  `精选：${stats.shortlistCount ?? '-'}`,\n  `附录：${stats.appendixCount ?? '-'}`,\n  `资讯源：${stats.feedCount ?? '-'}`\n].join(' | ');\n\nconst headerLines = [\n  '# Sansi LED 行业情报周报',\n  `生成时间：${formatDateTime(meta.generatedAt || input.generatedAt)}（${timezone}）`,\n  `触发方式：${trigger} | ${statsLine}`,\n  ''];\n\nconst sectionOrder = [\n  { id: 'market', title: '行业与市场动态' },\n  { id: 'tender-cn', title: '工程中标/候选人（≥100万）' },\n  { id: 'competitive', title: '竞品与重大项目' },\n  { id: 'technology', title: '技术突破与材料工艺' },\n  { id: 'regulation', title: '法规 / 标准 / 合规提醒' },\n  { id: 'integration', title: '可集成方案与合作机会' }\n];\n\nconst sectionMap = new Map(sections.map((section) => [section.id || section.title, section]));\n\nconst resolveLink = (item) => {\n  return item.resolvedLink || item.link || item.source?.link || item.source?.url || '';\n};\n\nconst renderTitleLine = (item, fallbackTitle) => {\n  const headline = item.headline || item.title || fallbackTitle || '未命名事件';\n  const link = resolveLink(item);\n  const sourceName = item.source?.sourceName || item.source?.publisher || item.source?.source || item.sourceName || '未知来源';\n  const publishedAt = formatDate(item.source?.publishedAt || item.publishedAt);\n  const labels = Array.isArray(item.labels) && item.labels.length ? `labels: ${item.labels.join(', ')}` : '';\n  const titlePart = link ? `[${headline}](${link})` : headline;\n  return `- ${titlePart}（${publishedAt}，${sourceName}）${labels}`.trim();\n};\n\nconst renderSection = ({ id, title }) => {\n  const section = sectionMap.get(id) || sections.find((s) => (s.id || '').toLowerCase() === id) || { title, items: [] };\n  const items = Array.isArray(section.items) ? section.items.slice(0, 5) : [];\n  if (!items.length) {\n    return '';\n  }\n  const lines = [`## ${section.title || title || id}`];\n  items.forEach((item) => {\n    lines.push(renderTitleLine(item, section.title));\n    if (item.summary) {\n      lines.push(`  - 摘要：${item.summary}`);\n    }\n    if (Array.isArray(item.quantHighlights) && item.quantHighlights.length) {\n      lines.push(`  - 关键数据：${item.quantHighlights.join('；')}`);\n    }\n    if (item.impact) {\n      lines.push(`  - 影响：${item.impact}`);\n    }\n    if (Array.isArray(item.actions) && item.actions.length) {\n      lines.push(`  - 建议：${item.actions.join('；')}`);\n    }\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst sectionBlocks = sectionOrder\n  .map(renderSection)\n  .filter((block) => block && block.trim().length);\n\nconst renderRisks = () => {\n  if (!risks.length) {\n    return '';\n  }\n  const lines = ['## 风险提示与下周关注'];\n  risks.forEach((risk, index) => {\n    const category = risk.category || `项 ${index + 1}`;\n    const quant = Array.isArray(risk.quantHighlights) && risk.quantHighlights.length ? ` | 关键数据：${risk.quantHighlights.join('；')}` : '';\n    const action = risk.action ? ` | 建议：${risk.action}` : '';\n    lines.push(`${index + 1}. [${category}] ${risk.description || '暂无描述'}${quant}${action}`);\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst renderNewsIndex = () => {\n  if (!newsIndex.length) {\n    return '';\n  }\n  const lines = ['## 本周资讯清单'];\n  newsIndex.forEach((item) => {\n    const category = item.category || '未分类';\n    const title = item.title || '未命名';\n    const link = resolveLink(item);\n    const titlePart = link ? `[${title}](${link})` : title;\n    const publishedAt = formatDate(item.publishedAt);\n    const source = item.source || '未知来源';\n    const labels = Array.isArray(item.labels) && item.labels.length ? ` labels: ${item.labels.join(', ')}` : '';\n    const highlight = item.highlight ? ` — ${item.highlight}` : '';\n    lines.push(`- [${category}] ${titlePart}（${publishedAt}，${source}）${highlight}${labels}`.trim());\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst footer = [\n  '---',\n  notes.dataSources || '数据来源：公开 RSS / 动态搜索等，自动聚合生成，仅供内部参考'\n];\n\nconst blocks = [\n  ...headerLines,\n  ...sectionBlocks,\n  renderRisks(),\n  renderNewsIndex(),\n  ...footer\n].filter(Boolean);\n\nconst markdown = blocks.join('\\n');\n\nreturn [\n  {\n    json: {\n      markdown,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || meta.generatedAt || new Date().toISOString(),\n      report\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst report = input.report || {};\nconst stats = Object.keys(input.stats || {}).length ? input.stats : (report.meta?.runStats || {});\nconst runContext = input.runContext || {};\nconst meta = report.meta || {};\nconst sections = Array.isArray(report.sections) ? report.sections : [];\nconst risks = Array.isArray(report.risks) ? report.risks : [];\nconst newsIndex = Array.isArray(report.newsIndex) ? report.newsIndex : [];\nconst notes = report.notes || {};\n\nif (!Object.keys(report).length) {\n  throw new Error('缺少结构化报告数据（report）。');\n}\n\nconst timezone = meta.timezone || runContext.timezone || 'Asia/Shanghai';\nconst trigger = meta.trigger || runContext.trigger || 'unknown';\n\nconst formatDateTime = (iso) => {\n  if (!iso) return '未知时间';\n  const date = new Date(iso);\n  if (Number.isNaN(date.getTime())) return iso;\n  try {\n    return new Intl.DateTimeFormat('zh-CN', {\n      timeZone: timezone,\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false\n    }).format(date);\n  } catch (error) {\n    return iso;\n  }\n};\n\nconst formatDate = (iso) => {\n  if (!iso) return '未知日期';\n  const date = new Date(iso);\n  if (Number.isNaN(date.getTime())) return iso;\n  return date.toISOString().slice(0, 10);\n};\n\nconst statsLine = [\n  `抓取总数：${stats.totalFetched ?? '-'}`,\n  `过滤后：${stats.afterFilter ?? '-'}`,\n  `精选：${stats.shortlistCount ?? '-'}`,\n  `附录：${stats.appendixCount ?? '-'}`,\n  `资讯源：${stats.feedCount ?? '-'}`\n].join(' | ');\n\nconst headerLines = [\n  '# Sansi LED 行业情报周报',\n  `生成时间：${formatDateTime(meta.generatedAt || input.generatedAt)}（${timezone}）`,\n  `触发方式：${trigger} | ${statsLine}`,\n  ''];\n\nconst sectionOrder = [\n  { id: 'market', title: '行业与市场动态' },\n  { id: 'tender-cn', title: '工程中标/候选人（≥100万）' },\n  { id: 'competitive', title: '竞品与重大项目' },\n  { id: 'technology', title: '技术突破与材料工艺' },\n  { id: 'regulation', title: '法规 / 标准 / 合规提醒' },\n  { id: 'integration', title: '可集成方案与合作机会' }\n];\n\nconst sectionMap = new Map(sections.map((section) => [section.id || section.title, section]));\n\nconst resolveLink = (item) => {\n  return item.resolvedLink || item.link || item.source?.link || item.source?.url || '';\n};\n\nconst renderTitleLine = (item, fallbackTitle) => {\n  const headline = item.headline || item.title || fallbackTitle || '未命名事件';\n  const link = resolveLink(item);\n  const sourceName = item.source?.sourceName || item.source?.publisher || item.source?.source || item.sourceName || '未知来源';\n  const publishedAt = formatDate(item.source?.publishedAt || item.publishedAt);\n  const labels = Array.isArray(item.labels) && item.labels.length ? `labels: ${item.labels.join(', ')}` : '';\n  const titlePart = link ? `[${headline}](${link})` : headline;\n  return `- ${titlePart}（${publishedAt}，${sourceName}）${labels}`.trim();\n};\n\nconst renderSection = ({ id, title }) => {\n  const section = sectionMap.get(id) || sections.find((s) => (s.id || '').toLowerCase() === id) || { title, items: [] };\n  const items = Array.isArray(section.items) ? section.items.slice(0, 5) : [];\n  if (!items.length) {\n    return '';\n  }\n  const lines = [`## ${section.title || title || id}`];\n  items.forEach((item) => {\n    lines.push(renderTitleLine(item, section.title));\n    if (item.summary) {\n      lines.push(`  - 摘要：${item.summary}`);\n    }\n    if (Array.isArray(item.quantHighlights) && item.quantHighlights.length) {\n      lines.push(`  - 关键数据：${item.quantHighlights.join('；')}`);\n    }\n    if (item.impact) {\n      lines.push(`  - 影响：${item.impact}`);\n    }\n    if (Array.isArray(item.actions) && item.actions.length) {\n      lines.push(`  - 建议：${item.actions.join('；')}`);\n    }\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst sectionBlocks = sectionOrder\n  .map(renderSection)\n  .filter((block) => block && block.trim().length);\n\nconst renderRisks = () => {\n  if (!risks.length) {\n    return '';\n  }\n  const lines = ['## 风险提示与下周关注'];\n  risks.forEach((risk, index) => {\n    const category = risk.category || `项 ${index + 1}`;\n    const quant = Array.isArray(risk.quantHighlights) && risk.quantHighlights.length ? ` | 关键数据：${risk.quantHighlights.join('；')}` : '';\n    const action = risk.action ? ` | 建议：${risk.action}` : '';\n    lines.push(`${index + 1}. [${category}] ${risk.description || '暂无描述'}${quant}${action}`);\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst renderNewsIndex = () => {\n  if (!newsIndex.length) {\n    return '';\n  }\n  const lines = ['## 本周资讯清单'];\n  newsIndex.forEach((item) => {\n    const category = item.category || '未分类';\n    const title = item.title || '未命名';\n    const link = resolveLink(item);\n    const titlePart = link ? `[${title}](${link})` : title;\n    const publishedAt = formatDate(item.publishedAt);\n    const source = item.source || '未知来源';\n    const labels = Array.isArray(item.labels) && item.labels.length ? ` labels: ${item.labels.join(', ')}` : '';\n    const highlight = item.highlight ? ` — ${item.highlight}` : '';\n    lines.push(`- [${category}] ${titlePart}（${publishedAt}，${source}）${highlight}${labels}`.trim());\n  });\n  lines.push('');\n  return lines.join('\\n');\n};\n\nconst footer = [\n  '---',\n  notes.dataSources || '数据来源：公开 RSS / 动态搜索等，自动聚合生成，仅供内部参考'\n];\n\nconst blocks = [\n  ...headerLines,\n  ...sectionBlocks,\n  renderRisks(),\n  renderNewsIndex(),\n  ...footer\n].filter(Boolean);\n\nconst markdown = blocks.join('\\n');\n\nreturn [\n  {\n    json: {\n      markdown,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || meta.generatedAt || new Date().toISOString(),\n      report\n    }\n  }\n];"
      },
      "id": "162C4E06-FF75-4B07-A591-1A739E1CFC83",
      "name": "Prepare Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst report = input.report || {};\n\nconst isHttpUrl = (value) => {\n  if (typeof value !== 'string') return false;\n  const trimmed = value.trim();\n  return /^https?:\\/\\//i.test(trimmed);\n};\n\nconst firstHttpUrl = (...candidates) => {\n  for (const candidate of candidates) {\n    if (!isHttpUrl(candidate)) continue;\n    return candidate.trim();\n  }\n  return '';\n};\n\nconst sanitizeSource = (source) => {\n  if (!source || typeof source !== 'object') return source;\n  const link = firstHttpUrl(source.link, source.url);\n  return {\n    ...source,\n    link: link || (typeof source.link === 'string' ? source.link : null),\n    url: link || (typeof source.url === 'string' ? source.url : null)\n  };\n};\n\nconst sanitizeItem = (item) => {\n  if (!item || typeof item !== 'object') return item;\n  const safeSource = sanitizeSource(item.source);\n  const resolvedLink = firstHttpUrl(\n    item.resolvedLink,\n    item.link,\n    item.url,\n    item.href,\n    safeSource?.link,\n    safeSource?.url,\n    item.sourceUrl,\n    item.feedUrl\n  );\n\n  const safe = {\n    ...item,\n    source: safeSource,\n    resolvedLink\n  };\n\n  if (safe.link !== undefined && !isHttpUrl(safe.link)) {\n    delete safe.link;\n  } else if (typeof safe.link === 'string') {\n    safe.link = safe.link.trim();\n  }\n\n  return safe;\n};\n\nconst sections = Array.isArray(report.sections) ? report.sections : [];\nconst newsIndex = Array.isArray(report.newsIndex) ? report.newsIndex : [];\n\nconst sanitizedSections = sections.map((section) => {\n  if (!section || typeof section !== 'object') return section;\n  const items = Array.isArray(section.items) ? section.items.map(sanitizeItem) : [];\n  return { ...section, items };\n});\n\nconst sanitizedNewsIndex = newsIndex.map(sanitizeItem);\n\nconst sanitizedReport = {\n  ...report,\n  sections: sanitizedSections,\n  newsIndex: sanitizedNewsIndex\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      report: sanitizedReport\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst report = input.report || {};\n\nconst isHttpUrl = (value) => {\n  if (typeof value !== 'string') return false;\n  const trimmed = value.trim();\n  return /^https?:\\/\\//i.test(trimmed);\n};\n\nconst firstHttpUrl = (...candidates) => {\n  for (const candidate of candidates) {\n    if (!isHttpUrl(candidate)) continue;\n    return candidate.trim();\n  }\n  return '';\n};\n\nconst sanitizeSource = (source) => {\n  if (!source || typeof source !== 'object') return source;\n  const link = firstHttpUrl(source.link, source.url);\n  return {\n    ...source,\n    link: link || (typeof source.link === 'string' ? source.link : null),\n    url: link || (typeof source.url === 'string' ? source.url : null)\n  };\n};\n\nconst sanitizeItem = (item) => {\n  if (!item || typeof item !== 'object') return item;\n  const safeSource = sanitizeSource(item.source);\n  const resolvedLink = firstHttpUrl(\n    item.resolvedLink,\n    item.link,\n    item.url,\n    item.href,\n    safeSource?.link,\n    safeSource?.url,\n    item.sourceUrl,\n    item.feedUrl\n  );\n\n  const safe = {\n    ...item,\n    source: safeSource,\n    resolvedLink\n  };\n\n  if (safe.link !== undefined && !isHttpUrl(safe.link)) {\n    delete safe.link;\n  } else if (typeof safe.link === 'string') {\n    safe.link = safe.link.trim();\n  }\n\n  return safe;\n};\n\nconst sections = Array.isArray(report.sections) ? report.sections : [];\nconst newsIndex = Array.isArray(report.newsIndex) ? report.newsIndex : [];\n\nconst sanitizedSections = sections.map((section) => {\n  if (!section || typeof section !== 'object') return section;\n  const items = Array.isArray(section.items) ? section.items.map(sanitizeItem) : [];\n  return { ...section, items };\n});\n\nconst sanitizedNewsIndex = newsIndex.map(sanitizeItem);\n\nconst sanitizedReport = {\n  ...report,\n  sections: sanitizedSections,\n  newsIndex: sanitizedNewsIndex\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      report: sanitizedReport\n    }\n  }\n];"
      },
      "id": "7E3928DB-E7E0-42D7-87EB-141CEF587F42",
      "name": "Sanitize Report Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nlet markdown = input.markdown ?? '';\nif (typeof markdown !== 'string') {\n  markdown = String(markdown);\n}\n\nconst replacements = [\n  ['\\n  - 摘要：', '\\n    - 摘要：'],\n  ['\\n  - 关键数据：', '\\n    - 关键数据：'],\n  ['\\n  - 影响：', '\\n    - 影响：'],\n  ['\\n  - 建议：', '\\n    - 建议：']\n];\n\nfor (const [from, to] of replacements) {\n  markdown = markdown.split(from).join(to);\n}\n\nif (!markdown.includes('周报作者：卿培')) {\n  const footerLines = [\n    '周报作者：卿培',\n    '联系方式：edwardtoday@gmail.com',\n    '欢迎对信息源和分析方法提出改进建议。'\n  ];\n  markdown = markdown.trimEnd() + '\\n\\n' + footerLines.join('\\n');\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      markdown\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nlet markdown = input.markdown ?? '';\nif (typeof markdown !== 'string') {\n  markdown = String(markdown);\n}\n\nconst replacements = [\n  ['\\n  - 摘要：', '\\n    - 摘要：'],\n  ['\\n  - 关键数据：', '\\n    - 关键数据：'],\n  ['\\n  - 影响：', '\\n    - 影响：'],\n  ['\\n  - 建议：', '\\n    - 建议：']\n];\n\nfor (const [from, to] of replacements) {\n  markdown = markdown.split(from).join(to);\n}\n\nif (!markdown.includes('周报作者：卿培')) {\n  const footerLines = [\n    '周报作者：卿培',\n    '联系方式：edwardtoday@gmail.com',\n    '欢迎对信息源和分析方法提出改进建议。'\n  ];\n  markdown = markdown.trimEnd() + '\\n\\n' + footerLines.join('\\n');\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      markdown\n    }\n  }\n];"
      },
      "id": "8C2A5B99-E445-435C-B212-7C54E13AD9C0",
      "name": "Postprocess Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst timestamp = input.generatedAt ? new Date(input.generatedAt) : new Date();\n\nconst year = timestamp.getFullYear();\nconst month = String(timestamp.getMonth() + 1).padStart(2, '0');\nconst day = String(timestamp.getDate()).padStart(2, '0');\nconst fileName = `${year}${month}${day}-sansi-led-intel.md`;\nconst folderPath = `/sansi-led-weekly-intel`;\nconst filePath = `${folderPath}/${fileName}`;\n\nreturn [\n  {\n    json: {\n      markdown: input.markdown,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || timestamp.toISOString(),\n      fileName,\n      folderPath,\n      filePath\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst timestamp = input.generatedAt ? new Date(input.generatedAt) : new Date();\n\nconst year = timestamp.getFullYear();\nconst month = String(timestamp.getMonth() + 1).padStart(2, '0');\nconst day = String(timestamp.getDate()).padStart(2, '0');\nconst fileName = `${year}${month}${day}-sansi-led-intel.md`;\nconst folderPath = `/sansi-led-weekly-intel`;\nconst filePath = `${folderPath}/${fileName}`;\n\nreturn [\n  {\n    json: {\n      markdown: input.markdown,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || timestamp.toISOString(),\n      fileName,\n      folderPath,\n      filePath\n    }\n  }\n];"
      },
      "id": "2C60A31E-1968-47ED-A934-67737A4BA71D",
      "name": "Set Storage Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nlet markdown = input.markdown ?? '';\nif (typeof markdown !== 'string') {\n  markdown = String(markdown);\n}\nif (markdown.startsWith('\"') && markdown.endsWith('\"')) {\n  try {\n    markdown = JSON.parse(markdown);\n  } catch (error) {\n    markdown = markdown.slice(1, -1);\n  }\n}\nmarkdown = markdown.replace(/\\\\n/g, '\\u000a');\nif (markdown.startsWith('\"')) {\n  markdown = markdown.slice(1);\n}\nif (markdown.endsWith('\"')) {\n  markdown = markdown.slice(0, -1);\n}\nconst fileName = input.fileName ?? 'report.md';\nconst folderPath = input.folderPath ?? '/sansi-led-weekly-intel';\nconst filePath = input.filePath ?? `${folderPath}/${fileName}`;\nconst buffer = Buffer.from(markdown, 'utf8');\nreturn [{\n  json: {\n    stats: input.stats ?? {},\n    runContext: input.runContext ?? {},\n    generatedAt: input.generatedAt ?? new Date().toISOString(),\n    fileName,\n    folderPath,\n    filePath\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName\n    }\n  }\n}];",
        "functionCode": "const input = items[0]?.json || {};\nlet markdown = input.markdown ?? '';\nif (typeof markdown !== 'string') {\n  markdown = String(markdown);\n}\nif (markdown.startsWith('\"') && markdown.endsWith('\"')) {\n  try {\n    markdown = JSON.parse(markdown);\n  } catch (error) {\n    markdown = markdown.slice(1, -1);\n  }\n}\nmarkdown = markdown.replace(/\\\\n/g, '\\u000a');\nif (markdown.startsWith('\"')) {\n  markdown = markdown.slice(1);\n}\nif (markdown.endsWith('\"')) {\n  markdown = markdown.slice(0, -1);\n}\nconst fileName = input.fileName ?? 'report.md';\nconst folderPath = input.folderPath ?? '/sansi-led-weekly-intel';\nconst filePath = input.filePath ?? `${folderPath}/${fileName}`;\nconst buffer = Buffer.from(markdown, 'utf8');\nreturn [{\n  json: {\n    stats: input.stats ?? {},\n    runContext: input.runContext ?? {},\n    generatedAt: input.generatedAt ?? new Date().toISOString(),\n    fileName,\n    folderPath,\n    filePath\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName\n    }\n  }\n}];"
      },
      "id": "CD564C1F-18A3-4020-8E97-773CCA4790D2",
      "name": "Markdown to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        48
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{$json.filePath}}",
        "binaryData": true
      },
      "id": "409E4510-A001-457C-9AA1-D3BCF255EA10",
      "name": "Upload to Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2608,
        48
      ],
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "LooheV5upmL5rcGw",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst rawCandidate = input.text ?? input.output ?? input.result ?? '';\nconst rawText = typeof rawCandidate === 'string' ? rawCandidate : JSON.stringify(rawCandidate);\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst promptFragments = input.promptFragments || {};\nlet report = null;\nlet parseOk = false;\nlet parseError = '';\n\nif (!rawText) {\n  parseError = 'LLM 返回为空，缺少 JSON 字符串';\n} else {\n  try {\n    report = JSON.parse(rawText);\n    parseOk = true;\n  } catch (error) {\n    parseError = `${error.name || 'Error'}: ${error.message}`;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rawText,\n      report,\n      parseOk,\n      parseError,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || new Date().toISOString(),\n      promptFragments,\n      attempt: 1\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst rawCandidate = input.text ?? input.output ?? input.result ?? '';\nconst rawText = typeof rawCandidate === 'string' ? rawCandidate : JSON.stringify(rawCandidate);\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst promptFragments = input.promptFragments || {};\nlet report = null;\nlet parseOk = false;\nlet parseError = '';\n\nif (!rawText) {\n  parseError = 'LLM 返回为空，缺少 JSON 字符串';\n} else {\n  try {\n    report = JSON.parse(rawText);\n    parseOk = true;\n  } catch (error) {\n    parseError = `${error.name || 'Error'}: ${error.message}`;\n  }\n}\n\nreturn [\n  {\n    json: {\n      rawText,\n      report,\n      parseOk,\n      parseError,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || new Date().toISOString(),\n      promptFragments,\n      attempt: 1\n    }\n  }\n];"
      },
      "id": "8B83AAF3-95D9-4D9D-9C26-E54407118A9A",
      "name": "Parse Weekly JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.parseOk}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "999CFB04-650C-4D92-90CB-804972F3B1ED",
      "name": "Check Parse Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "    const input = items[0]?.json || {};\n    const rawText = input.rawText || '';\n    const parseError = input.parseError || '未提供解析错误';\n    const statsJson = JSON.stringify(input.stats || {}, null, 2);\n    const schemaDescription = input.promptFragments?.schemaDescription || '';\n    const exampleJson = input.promptFragments?.exampleJson || '';\n\n    const promptLines = [\n      '# 任务：修复 LLM 输出的 JSON',\n      `解析错误：${parseError}`,\n      '',\n      '## 要求',\n      '- 仅输出一个 JSON 对象，必须可被 JSON.parse 成功解析。',\n      '- JSON 需完全符合原始 schema 与字段命名，不要新增字段。',\n      '- 不要添加解释、Markdown 或额外文本。',\n      '',\n      '## 参考 schema',\n      schemaDescription ? '```json' : '',\n      schemaDescription,\n      schemaDescription ? '```' : '',\n      '',\n      '## 运行统计参考（辅助校验数值是否合理）',\n      statsJson,\n      '',\n      '## 原始模型输出',\n      '```',\n      rawText,\n      '```',\n      '',\n      exampleJson ? '## 合规示例 (可参考字段顺序)' : '',\n      exampleJson ? '```json' : '',\n      exampleJson,\n      exampleJson ? '```' : '',\n      '',\n      '请输出修正后的 JSON。'\n    ].filter(Boolean);\n\n    const prompt = promptLines.join('\n');\n\n    return [\n      {\n        json: {\n          prompt,\n          stats: input.stats || {},\n          runContext: input.runContext || {},\n          generatedAt: input.generatedAt || new Date().toISOString(),\n          promptFragments: input.promptFragments || {}\n        }\n      }\n    ];",
        "functionCode": "    const input = items[0]?.json || {};\n    const rawText = input.rawText || '';\n    const parseError = input.parseError || '未提供解析错误';\n    const statsJson = JSON.stringify(input.stats || {}, null, 2);\n    const schemaDescription = input.promptFragments?.schemaDescription || '';\n    const exampleJson = input.promptFragments?.exampleJson || '';\n\n    const promptLines = [\n      '# 任务：修复 LLM 输出的 JSON',\n      `解析错误：${parseError}`,\n      '',\n      '## 要求',\n      '- 仅输出一个 JSON 对象，必须可被 JSON.parse 成功解析。',\n      '- JSON 需完全符合原始 schema 与字段命名，不要新增字段。',\n      '- 不要添加解释、Markdown 或额外文本。',\n      '',\n      '## 参考 schema',\n      schemaDescription ? '```json' : '',\n      schemaDescription,\n      schemaDescription ? '```' : '',\n      '',\n      '## 运行统计参考（辅助校验数值是否合理）',\n      statsJson,\n      '',\n      '## 原始模型输出',\n      '```',\n      rawText,\n      '```',\n      '',\n      exampleJson ? '## 合规示例 (可参考字段顺序)' : '',\n      exampleJson ? '```json' : '',\n      exampleJson,\n      exampleJson ? '```' : '',\n      '',\n      '请输出修正后的 JSON。'\n    ].filter(Boolean);\n\n    const prompt = promptLines.join('\n');\n\n    return [\n      {\n        json: {\n          prompt,\n          stats: input.stats || {},\n          runContext: input.runContext || {},\n          generatedAt: input.generatedAt || new Date().toISOString(),\n          promptFragments: input.promptFragments || {}\n        }\n      }\n    ];"
      },
      "id": "C73982CE-2681-4F47-B567-28B6CA69CD54",
      "name": "Build Repair Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.prompt}}"
      },
      "id": "5C81973D-A552-4471-BCFA-0C1F295B2C21",
      "name": "Repair Weekly JSON",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1360,
        120
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst rawCandidate = input.text ?? input.output ?? input.result ?? '';\nconst rawText = typeof rawCandidate === 'string' ? rawCandidate : JSON.stringify(rawCandidate);\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst promptFragments = input.promptFragments || {};\nlet report = null;\nlet parseOk = false;\nlet parseError = '';\n\nif (!rawText) {\n  parseError = '修复后的 LLM 输出为空';\n} else {\n  try {\n    report = JSON.parse(rawText);\n    parseOk = true;\n  } catch (error) {\n    parseError = `${error.name || 'Error'}: ${error.message}`;\n  }\n}\n\nif (!parseOk) {\n  throw new Error(`修复后的 JSON 仍无法解析：${parseError}`);\n}\n\nreturn [\n  {\n    json: {\n      rawText,\n      report,\n      parseOk,\n      parseError: parseError || null,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || new Date().toISOString(),\n      promptFragments,\n      attempt: (input.attempt || 1) + 1\n    }\n  }\n];",
        "functionCode": "const input = items[0]?.json || {};\nconst rawCandidate = input.text ?? input.output ?? input.result ?? '';\nconst rawText = typeof rawCandidate === 'string' ? rawCandidate : JSON.stringify(rawCandidate);\nconst stats = input.stats || {};\nconst runContext = input.runContext || {};\nconst promptFragments = input.promptFragments || {};\nlet report = null;\nlet parseOk = false;\nlet parseError = '';\n\nif (!rawText) {\n  parseError = '修复后的 LLM 输出为空';\n} else {\n  try {\n    report = JSON.parse(rawText);\n    parseOk = true;\n  } catch (error) {\n    parseError = `${error.name || 'Error'}: ${error.message}`;\n  }\n}\n\nif (!parseOk) {\n  throw new Error(`修复后的 JSON 仍无法解析：${parseError}`);\n}\n\nreturn [\n  {\n    json: {\n      rawText,\n      report,\n      parseOk,\n      parseError: parseError || null,\n      stats,\n      runContext,\n      generatedAt: input.generatedAt || new Date().toISOString(),\n      promptFragments,\n      attempt: (input.attempt || 1) + 1\n    }\n  }\n];"
      },
      "id": "DCF57AAA-1116-4530-87D4-94555CBED709",
      "name": "Parse Weekly JSON (Retry)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const runContext = items[0]?.json?.runContext || {};\n\nconst buildKeyword = ({ keyword, category, labels = [], maxResults = 6, language, region, weight }) => ({\n  keyword,\n  category,\n  labels,\n  maxResults,\n  language,\n  region,\n  weight\n});\n\nconst keywords = [\n  buildKeyword({ keyword: 'LED display market outlook', category: 'market', labels: ['display', 'market'] }),\n  buildKeyword({ keyword: 'LED video wall tender results', category: 'market', labels: ['display', 'tender', 'market'] }),\n  buildKeyword({ keyword: 'digital signage deployment case study', category: 'integration', labels: ['digital signage', 'integration'] }),\n  buildKeyword({ keyword: 'smart city LED platform', category: 'integration', labels: ['smart-city', 'platform', 'integration'] }),\n  buildKeyword({ keyword: 'LED control software upgrade', category: 'technology', labels: ['software', 'control'] }),\n  buildKeyword({ keyword: 'microLED manufacturing breakthrough', category: 'technology', labels: ['microled', 'manufacturing'] }),\n  buildKeyword({ keyword: 'mini LED packaging yield', category: 'technology', labels: ['mini-led', 'yield'] }),\n  buildKeyword({ keyword: 'LED driver IC shortage', category: 'supply', labels: ['supply', 'driver-ic'] }),\n  buildKeyword({ keyword: 'lighting energy efficiency regulation', category: 'regulation', labels: ['policy', 'lighting'] }),\n  buildKeyword({ keyword: 'road lighting standard EN13201', category: 'regulation', labels: ['standard', 'lighting'] }),\n  buildKeyword({ keyword: 'Leyard LED display project', category: 'competitive', labels: ['competitor', 'leyard', 'official'] }),\n  buildKeyword({ keyword: 'Unilumin company news', category: 'competitive', labels: ['competitor', 'unilumin', 'official'] }),\n  buildKeyword({ keyword: 'LianTronics LED signage', category: 'competitive', labels: ['competitor', 'liantronics'] }),\n  buildKeyword({ keyword: 'Absen digital signage', category: 'competitive', labels: ['competitor', 'absen', 'official'] }),\n  buildKeyword({ keyword: 'BOE commercial display', category: 'competitive', labels: ['competitor', 'boe'] }),\n  buildKeyword({ keyword: 'Hisense commercial display', category: 'competitive', labels: ['competitor', 'hisense'] }),\n  buildKeyword({ keyword: 'Samsung The Wall microLED', category: 'competitive', labels: ['competitor', 'samsung'] }),\n  buildKeyword({ keyword: 'LG Business Solutions signage', category: 'competitive', labels: ['competitor', 'lg', 'official'] }),\n  buildKeyword({ keyword: 'Signify lighting project', category: 'competitor', labels: ['competitor', 'signify'] }),\n  buildKeyword({ keyword: 'ams OSRAM automotive lighting', category: 'technology', labels: ['competitor', 'ams-osram'] }),\n  buildKeyword({ keyword: 'Dialight hazardous area lighting', category: 'technology', labels: ['competitor', 'dialight'] }),\n  buildKeyword({ keyword: 'OPPLE 工程照明 项目', category: 'cn-market', labels: ['cn', 'lighting', 'opple', 'official'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '雷士照明 工程照明 新闻', category: 'cn-market', labels: ['cn', 'lighting', 'nvc', 'official'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '洲明 科技 大屏 项目', category: 'competitive', labels: ['cn', 'competitor', 'unilumin'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '利亚德 LED 项目', category: 'competitive', labels: ['cn', 'competitor', 'leyard'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '雷曼 光电 微间距', category: 'technology', labels: ['cn', 'competitor', 'micro-pitch'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '创维 数字 标牌', category: 'competitive', labels: ['cn', 'competitor', 'skyworth'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '华为 智慧城市 LED', category: 'cn-market', labels: ['cn', 'smart-city', 'huawei'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '中兴 智慧城市 解决方案', category: 'cn-market', labels: ['cn', 'smart-city', 'zte'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '千方科技 智慧交通', category: 'cn-market', labels: ['cn', 'smart-city', 'transport'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '智慧路灯 政策', category: 'regulation', labels: ['cn', 'policy', 'smart-lighting'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '数字孪生 城市 可视化', category: 'integration', labels: ['cn', 'digital-twin', 'visualization'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '微间距 LED 显示', category: 'technology', labels: ['cn', 'display', 'micro-pitch'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '城市照明 PPP 项目', category: 'market', labels: ['cn', 'lighting', 'ppp'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '智慧文旅 夜游 照明', category: 'integration', labels: ['cn', 'lighting', 'experience'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: 'site:gov.cn (公共资源 OR 交易中心 OR ggzy) (\"中标结果公告\" OR \"定标结果公告\" OR \"成交结果公告\" OR \"结果公告\") (路灯 OR 道路照明 OR 智慧路灯 OR 隧道照明 OR 隧道灯 OR LED显示屏 OR 小间距)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'final'], language: 'zh-CN', region: 'CN', maxResults: 20, weight: 6.4 }),\n  buildKeyword({ keyword: 'site:gov.cn (公共资源 OR 交易中心 OR ggzy) (\"中标候选人公示\" OR \"评标结果公示\") (路灯 OR 道路照明 OR 智慧路灯 OR 隧道照明 OR 隧道灯 OR LED显示屏 OR 小间距)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'candidate'], language: 'zh-CN', region: 'CN', maxResults: 20, weight: 6.2 }),\n  buildKeyword({ keyword: 'site:cebpubservice.com (\"中标结果\" OR \"定标结果\" OR \"成交结果\" OR \"中标候选人\") (路灯 OR 隧道照明 OR LED显示屏)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'ceb'], language: 'zh-CN', region: 'CN', maxResults: 18, weight: 5.9 }),\n  buildKeyword({ keyword: 'site:ccgp.gov.cn (\"中标公告\" OR \"成交公告\" OR \"结果公告\") (路灯 OR 隧道照明 OR LED显示屏)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'ccgp'], language: 'zh-CN', region: 'CN', maxResults: 18, weight: 5.7 })\n];\n\nreturn [\n  {\n    json: {\n      runContext,\n      keywords\n    }\n  }\n];",
        "functionCode": "const runContext = items[0]?.json?.runContext || {};\n\nconst buildKeyword = ({ keyword, category, labels = [], maxResults = 6, language, region, weight }) => ({\n  keyword,\n  category,\n  labels,\n  maxResults,\n  language,\n  region,\n  weight\n});\n\nconst keywords = [\n  buildKeyword({ keyword: 'LED display market outlook', category: 'market', labels: ['display', 'market'] }),\n  buildKeyword({ keyword: 'LED video wall tender results', category: 'market', labels: ['display', 'tender', 'market'] }),\n  buildKeyword({ keyword: 'digital signage deployment case study', category: 'integration', labels: ['digital signage', 'integration'] }),\n  buildKeyword({ keyword: 'smart city LED platform', category: 'integration', labels: ['smart-city', 'platform', 'integration'] }),\n  buildKeyword({ keyword: 'LED control software upgrade', category: 'technology', labels: ['software', 'control'] }),\n  buildKeyword({ keyword: 'microLED manufacturing breakthrough', category: 'technology', labels: ['microled', 'manufacturing'] }),\n  buildKeyword({ keyword: 'mini LED packaging yield', category: 'technology', labels: ['mini-led', 'yield'] }),\n  buildKeyword({ keyword: 'LED driver IC shortage', category: 'supply', labels: ['supply', 'driver-ic'] }),\n  buildKeyword({ keyword: 'lighting energy efficiency regulation', category: 'regulation', labels: ['policy', 'lighting'] }),\n  buildKeyword({ keyword: 'road lighting standard EN13201', category: 'regulation', labels: ['standard', 'lighting'] }),\n  buildKeyword({ keyword: 'Leyard LED display project', category: 'competitive', labels: ['competitor', 'leyard', 'official'] }),\n  buildKeyword({ keyword: 'Unilumin company news', category: 'competitive', labels: ['competitor', 'unilumin', 'official'] }),\n  buildKeyword({ keyword: 'LianTronics LED signage', category: 'competitive', labels: ['competitor', 'liantronics'] }),\n  buildKeyword({ keyword: 'Absen digital signage', category: 'competitive', labels: ['competitor', 'absen', 'official'] }),\n  buildKeyword({ keyword: 'BOE commercial display', category: 'competitive', labels: ['competitor', 'boe'] }),\n  buildKeyword({ keyword: 'Hisense commercial display', category: 'competitive', labels: ['competitor', 'hisense'] }),\n  buildKeyword({ keyword: 'Samsung The Wall microLED', category: 'competitive', labels: ['competitor', 'samsung'] }),\n  buildKeyword({ keyword: 'LG Business Solutions signage', category: 'competitive', labels: ['competitor', 'lg', 'official'] }),\n  buildKeyword({ keyword: 'Signify lighting project', category: 'competitor', labels: ['competitor', 'signify'] }),\n  buildKeyword({ keyword: 'ams OSRAM automotive lighting', category: 'technology', labels: ['competitor', 'ams-osram'] }),\n  buildKeyword({ keyword: 'Dialight hazardous area lighting', category: 'technology', labels: ['competitor', 'dialight'] }),\n  buildKeyword({ keyword: 'OPPLE 工程照明 项目', category: 'cn-market', labels: ['cn', 'lighting', 'opple', 'official'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '雷士照明 工程照明 新闻', category: 'cn-market', labels: ['cn', 'lighting', 'nvc', 'official'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '洲明 科技 大屏 项目', category: 'competitive', labels: ['cn', 'competitor', 'unilumin'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '利亚德 LED 项目', category: 'competitive', labels: ['cn', 'competitor', 'leyard'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '雷曼 光电 微间距', category: 'technology', labels: ['cn', 'competitor', 'micro-pitch'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '创维 数字 标牌', category: 'competitive', labels: ['cn', 'competitor', 'skyworth'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '华为 智慧城市 LED', category: 'cn-market', labels: ['cn', 'smart-city', 'huawei'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '中兴 智慧城市 解决方案', category: 'cn-market', labels: ['cn', 'smart-city', 'zte'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '千方科技 智慧交通', category: 'cn-market', labels: ['cn', 'smart-city', 'transport'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '智慧路灯 政策', category: 'regulation', labels: ['cn', 'policy', 'smart-lighting'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '数字孪生 城市 可视化', category: 'integration', labels: ['cn', 'digital-twin', 'visualization'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '微间距 LED 显示', category: 'technology', labels: ['cn', 'display', 'micro-pitch'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '城市照明 PPP 项目', category: 'market', labels: ['cn', 'lighting', 'ppp'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: '智慧文旅 夜游 照明', category: 'integration', labels: ['cn', 'lighting', 'experience'], language: 'zh-CN', region: 'CN' }),\n  buildKeyword({ keyword: 'site:gov.cn (公共资源 OR 交易中心 OR ggzy) (\"中标结果公告\" OR \"定标结果公告\" OR \"成交结果公告\" OR \"结果公告\") (路灯 OR 道路照明 OR 智慧路灯 OR 隧道照明 OR 隧道灯 OR LED显示屏 OR 小间距)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'final'], language: 'zh-CN', region: 'CN', maxResults: 20, weight: 6.4 }),\n  buildKeyword({ keyword: 'site:gov.cn (公共资源 OR 交易中心 OR ggzy) (\"中标候选人公示\" OR \"评标结果公示\") (路灯 OR 道路照明 OR 智慧路灯 OR 隧道照明 OR 隧道灯 OR LED显示屏 OR 小间距)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'candidate'], language: 'zh-CN', region: 'CN', maxResults: 20, weight: 6.2 }),\n  buildKeyword({ keyword: 'site:cebpubservice.com (\"中标结果\" OR \"定标结果\" OR \"成交结果\" OR \"中标候选人\") (路灯 OR 隧道照明 OR LED显示屏)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'ceb'], language: 'zh-CN', region: 'CN', maxResults: 18, weight: 5.9 }),\n  buildKeyword({ keyword: 'site:ccgp.gov.cn (\"中标公告\" OR \"成交公告\" OR \"结果公告\") (路灯 OR 隧道照明 OR LED显示屏)', category: 'tender-cn', labels: ['cn', 'tender', 'engineering', 'ccgp'], language: 'zh-CN', region: 'CN', maxResults: 18, weight: 5.7 })\n];\n\nreturn [\n  {\n    json: {\n      runContext,\n      keywords\n    }\n  }\n];"
      },
      "id": "C797E9DC-3596-4E9C-B408-EAC4C03EF8BC",
      "name": "Keyword Registry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ ($json.articles && $json.articles.length) || ($json.diagnostics && $json.diagnostics.sources && $json.diagnostics.sources.length) ? true : false }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "F9D6E7B0-3C2A-43A2-9B1B-ASSERTFEEDS",
      "name": "Assert Non-Empty Feeds",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst stats = input.stats || {};\nconst diag = input.diagnostics || {};\nconst feeds = Array.isArray(input.articles) ? input.articles.length : 0;\nconst sources = Array.isArray(diag.sources) ? diag.sources.length : 0;\nconst message = `抓取返回为空：articles=${feeds}, sourcesChecked=${sources}`;\nthrow new Error(JSON.stringify({ code: 'NO_FEEDS', message, diagnostics: diag, stats }, null, 2));\n",
        "functionCode": "const input = items[0]?.json || {};\nconst stats = input.stats || {};\nconst diag = input.diagnostics || {};\nconst feeds = Array.isArray(input.articles) ? input.articles.length : 0;\nconst sources = Array.isArray(diag.sources) ? diag.sources.length : 0;\nconst message = `抓取返回为空：articles=${feeds}, sourcesChecked=${sources}`;\nthrow new Error(JSON.stringify({ code: 'NO_FEEDS', message, diagnostics: diag, stats }, null, 2));\n"
      },
      "id": "3B2F1A24-4AB8-4D34-B2B1-FAILONEMPTY",
      "name": "Fail On Empty Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.markdown }}",
        "destinationKey": "emailHtml"
      },
      "id": "630FA567-37C8-48A8-949E-469763AE0725",
      "name": "Markdown to HTML (Email)",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1936,
        288
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "edwardtoday@gmail.com",
        "toEmail": "edwardtoday@gmail.com",
        "subject": "={{ $now.toISODate() + \" Sansi LED Weekly Intel\" }}",
        "emailFormat": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false,
          "bccEmail": ""
        }
      },
      "id": "B2B1B0CF-1D72-4D4D-8A69-4F75C5E9C9A4",
      "name": "Send Weekly Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2256,
        288
      ],
      "credentials": {
        "smtp": {
          "id": "B1C8SE5aIIL6deXW",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Cron - Weekly": {
      "main": [
        [
          {
            "node": "Set Run Context (Cron)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Context (Cron)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Run": {
      "main": [
        [
          {
            "node": "Set Run Context (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Context (Webhook)": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Keyword Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sources": {
      "main": [
        [
          {
            "node": "Fetch Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Feeds": {
      "main": [
        [
          {
            "node": "Assert Non-Empty Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Split": {
      "main": [
        [
          {
            "node": "Prepare Prompt payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt payload": {
      "main": [
        [
          {
            "node": "Compile Weekly Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter GPT-5 mini": {
      "main": [
        []
      ],
      "ai_languageModel": [
        [
          {
            "node": "Compile Weekly Briefing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Repair Weekly JSON",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Compile Weekly Briefing": {
      "main": [
        [
          {
            "node": "Parse Weekly JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Markdown": {
      "main": [
        [
          {
            "node": "Postprocess Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Report Links": {
      "main": [
        [
          {
            "node": "Prepare Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postprocess Markdown": {
      "main": [
        [
          {
            "node": "Set Storage Path",
            "type": "main",
            "index": 0
          },
          {
            "node": "Markdown to HTML (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Storage Path": {
      "main": [
        [
          {
            "node": "Markdown to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to Binary": {
      "main": [
        [
          {
            "node": "Upload to Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Weekly JSON": {
      "main": [
        [
          {
            "node": "Check Parse Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Status": {
      "main": [
        [
          {
            "node": "Sanitize Report Links",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Repair Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repair Prompt": {
      "main": [
        [
          {
            "node": "Repair Weekly JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Weekly JSON": {
      "main": [
        [
          {
            "node": "Parse Weekly JSON (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Weekly JSON (Retry)": {
      "main": [
        [
          {
            "node": "Sanitize Report Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Registry": {
      "main": [
        [
          {
            "node": "Build Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Non-Empty Feeds": {
      "main": [
        [
          {
            "node": "Score & Split",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail On Empty Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML (Email)": {
      "main": [
        [
          {
            "node": "Send Weekly Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly Email (SMTP)": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Shanghai"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2f5f939d-7f77-4cd3-b299-6e1ca189de03",
  "triggerCount": 2,
  "shared": [
    {
      "createdAt": "2025-10-21T08:31:07.899Z",
      "updatedAt": "2025-10-21T08:31:07.899Z",
      "role": "workflow:owner",
      "workflowId": "7I6dedX09mUHrfeq",
      "projectId": "LISBZSaPxtZ9Pvzr",
      "project": {
        "createdAt": "2025-04-15T09:19:10.908Z",
        "updatedAt": "2025-04-15T09:19:58.342Z",
        "id": "LISBZSaPxtZ9Pvzr",
        "name": "Pei Qing <edwardtoday@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-04-15T09:19:10.909Z",
            "updatedAt": "2025-04-15T09:19:10.909Z",
            "userId": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
            "projectId": "LISBZSaPxtZ9Pvzr",
            "user": {
              "createdAt": "2025-04-15T09:19:10.504Z",
              "updatedAt": "2025-10-21T23:01:08.000Z",
              "id": "7148c2b1-d252-497a-b4f5-7a61a677f4bd",
              "email": "edwardtoday@gmail.com",
              "firstName": "Pei",
              "lastName": "Qing",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-15T09:23:28.486Z",
                "personalization_survey_n8n_version": "1.88.0"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "yXqi9J2w2Hn3NR9S",
                "userActivatedAt": 1744710510416,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1750041371678
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-10-21",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
